<ion-view view-title="关于">
  <ion-content>
    <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/seven">
      <h2>总览</h2>
      <i class="icon ion-ios-arrow-right"></i>
    </ion-item>

    <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/faq">
      <h2>FAQ</h2>
      <i class="icon ion-ios-arrow-right"></i>
    </ion-item>

    <div class="card">
      <div class="item item-divider">
        Growth
      </div>
      <div class="item item-text-wrap">
        Web开发七日谈的APP版本
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        作者
      </div>
      <img src="img/wechat.jpg" alt="Wechat">
      <a href="https://github.com/phodal" target="_blank" class="item">GitHub: @Phodal</a>
      <a href="http://weibo.com/phodal" target="_blank" class="item">Weibo: @Phodal</a>
      <a href="http://v2ex.com/member/phodal" target="_blank" class="item">v2ex: @Phodal</a>
      <a href="http://segmentfault.com/u/phodal" target="_blank" class="item">SF: @Phodal</a>
    </div>

  </ion-content>
</ion-view>
