<ion-view view-title="关于">
  <ion-content>
    <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/faq">
      <h2>FAQ</h2>
      <i class="icon ion-ios-arrow-right"></i>
    </ion-item>

    <div class="card">
      <div class="item item-divider">
        Growth
      </div>
      <div class="item item-text-wrap">
        <marked>
          - 这里的七日并不是真正意义上的七日，只是一个循环。
          - 前端面试题来源于: [http://markyun.github.io/2015/Front-end-Developer-Questions/](http://markyun.github.io/2015/Front-end-Developer-Questions/)
        </marked>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        作者
      </div>
      <img src="img/wechat.jpg" alt="Wechat">
      <div class="selfIntro">
        <marked>
          A ThoughWorker。

          擅长硬件、SEO、前端，也熟悉后台、架构设计。

          不了解算法——学会**如何更好的编码**，比花费精力学习算法更有意义。
        </marked>
      </div>
      <a href="https://github.com/phodal" target="_blank" class="item">GitHub: @Phodal</a>
      <a href="http://weibo.com/phodal" target="_blank" class="item">Weibo: @Phodal</a>
      <a href="http://v2ex.com/member/phodal" target="_blank" class="item">v2ex: @Phodal</a>
      <a href="http://segmentfault.com/u/phodal" target="_blank" class="item">SF: @Phodal</a>
    </div>

  </ion-content>
</ion-view>
