<ion-view view-title="ThoughtWorks读书路线">
  <ion-content>
    <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/books/prog">
      <h2>编程实践</h2>
      <i class="icon ion-ios-arrow-right"></i>
    </ion-item>

    <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/books/arch">
      <h2>架构与设计</h2>
      <i class="icon ion-ios-arrow-right"></i>
    </ion-item>

    <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/books/method">
      <h2>方法学</h2>
      <i class="icon ion-ios-arrow-right"></i>
    </ion-item>

    <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/books/think">
      <h2>思想与领导力</h2>
      <i class="icon ion-ios-arrow-right"></i>
    </ion-item>
  </ion-content>
</ion-view>
