<ion-view view-title="ThoughtWorks读书路线">
  <ion-content>
    <div class="list card">
      <div class="item item-divider">
        Coding Practice | 编程实践
      </div>
      <div class="items markdown-body">
        <marked>
          ##基础篇##

          - Clean Code《代码整洁之道》
          - Pragmatic Unit Testing《单元测试之道》
          - The Productive Programmer《卓有成效的程序员》
          - Test-Driven Development By Example《测试驱动开发》
          - Clean Coder《程序员的职业修养》
          - The Art of Readable Code《编写可读代码的艺术》

          ##进阶篇##

          - Refactoring To Patterns《重构与模式》
          - Implementation Patterns《实现模式》
          - Code Complete《代码大全》
          - The Pragmatic Programmer《程序员修炼之道》

          ##高级篇##

          - Structure and Interpretation of Computer Programs《计算机程序的构造和解释》
          - Working Effectively with Legacy Code《修改代码的艺术》
        </marked>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">
        Architecture & Design | 架构与设计
      </div>
      <div class="items markdown-body">
        <marked>
          ##基础篇##

          - Agile Software Development 《敏捷软件开发：原则、实践与模式》
          - Head First Design Patterns《深入浅出设计模式》
          - Design Patterns 《设计模式》

          ##进阶篇##

          - The Art of UNIX Programming 《Unix编程艺术》
          - Practical API Design 《框架设计的艺术》
          - Domain Specific Languages 《领域特定语言》
          - Patterns of Enterprise Application Architecture 《企业应用架构模式》

          ##高级篇##

          - Release It 《发布!软件的设计与部署》
          - Domain-Driven Design 《领域驱动设计》
          - Enterprise Integration Patterns《企业集成模式》
          - Beautiful Architecture《架构之美》
          - Pattern-Oriented Software Architecture《面向模式的软件架构》
        </marked>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">
        Methodology | 方法学
      </div>
      <div class="items markdown-body">
        <marked>

          ##基础篇##

          - User Stories Applied《用户故事与敏捷方法》
          - The Gold Mine《金矿》
          - Scrum and XP From the Trenches《硝烟中的Scrum和XP》
          - Continuous Integration《持续集成》
          - Extreme Programming Explained《解析极限编程》

          ##进阶篇##

          - Lean Thinking《精益思想》
          - Continuous Delivery《持续交付》
          - How Google Tests Software
          - Agile Testing
          - Extreme Programming Refactored《重构极限编程》

          ##高级篇##

          - Specification By Example
        </marked>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">
        Thought & Leadership | 思想与领导力
      </div>
      <div class="items markdown-body">
        <marked>
          ###基础篇###

          - The Effective Executive《卓有成效的管理者》
          - Are Your Lights On?《你的灯亮着吗》
          - Becoming A Technical Leader《成为技术领导者》

          ###进阶篇###

          - The Fifth Discipline《第五项修炼》
          - The Design Of Business
          - Management 3.0《管理3.0：培养和提升敏捷领导力》
          - Presentation To Win
          - The McKinsey Way《麦肯锡方法》

          ##高级篇###

          Thinking, Fast and Slow《思考快与慢》
        </marked>
      </div>
    </div>

  </ion-content>
</ion-view>
