<ion-view view-title="{{'community' | translate}}">
  <ion-content class="has-header">
    <ion-refresher ng-if="topics.length > 0" pulling-text="下拉刷新..." on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list class="topics">
      <ion-item class="item item-icon-right" ng-show="!topics.length">
        <div class="sectionTitle"><ion-spinner></ion-spinner></div>
      </ion-item>

      <ion-item class="item-avatar" collection-repeat="topic in topics" collection-item-width="'100%'"collection-item-height="73"
                href="#/app/topic/{{topic.id}}">
        <img ng-src="{{ (included | filter: topic.relationships.startUser.data)[0].attributes.avatarUrl }}">
        <h2>{{topic.attributes.title}}</h2>
        <p class="summary">
          <span ng-if="topic.attributes.isSticky" class="tab hl">置顶</span>
          {{ (included | filter: topic.relationships.startUser.data)[0].attributes.username }}
          <span class="item-note ago" am-time-ago="topic.attributes.lastTime"></span>
        </p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
