<ion-view view-title="总结与计划">
  <ion-content>
    <!--<div class="title"><img class="title-image full-image" src="img/day1/hello-world.png"/></div>-->
    <div class="list card">
      <div class="item item-body">
        <p>哈！我们的竞争对手使用了新的技术，而且我们的系统已经不行了。让我们设计一个更好的系统出来，这个组件我们可以使用这个技术，这个组件我们可以使用那个技术。</p>
        <p>前途又是光明的。</p>
      </div>
    </div>

    <div class="list card">
      <div class="sectionTitle">架构设计</div>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/day/1/blog/2">
        <h2>架构模式</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/day/1/blog/2">
        <h2>每个人都是架构师</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" href="#/app/day/1" ng-click="openModal(3)"><i class="icon ion-ios-folder"></i>简介</a>
        <a class="tab-item" href="#/app/day/1" ng-click="openModal(2)"><i class="icon ion-ios-book"></i>读书</a>
        <a class="tab-item" href="#/app/day/1" ng-click="openModal(1)"><i class="icon ion-ios-paper"></i>成长树</a>
      </div>
    </div>
  </ion-content>
</ion-view>
