<ion-view view-title="Detail">
  <ion-content>
    <div class="title"><img class="title-image" src="img/screenshot.jpg" width="100%" height="auto" /></div>
    <div class="list card days">
      <a href="#" class="item item-icon-left"><i class="icon ion-ios-heart"></i> 第一天: 新的开始</a>
      <a href="#" class="item item-icon-left"><i class="icon ion-ios-star"></i> 第二天：令人期待的新体验</a>
      <a href="#" class="item item-icon-left"><i class="icon ion-ios-star"></i> 第三天：上线准备</a>
      <a href="#" class="item item-icon-left"><i class="icon ion-ios-star"></i> 第四天： 数据分析</a>
      <a href="#" class="item item-icon-left"><i class="icon ion-ios-star-half"></i> 第五天：持续交付</a>
      <a href="#" class="item item-icon-left"><i class="icon ion-ios-star-outline"></i> 第六天：恶梦</a>
      <a href="#" class="item item-icon-left"><i class="icon ion-ios-star"></i> 第七天：总结与计划</a>
    </div>
  </ion-content>
</ion-view>
