<ion-view view-title="Growth">
  <ion-content>
    <div class="title"><img class="title-image" src="img/screenshot.jpg" width="100%" height="auto" /></div>
    <div class="list card days">
      <ion-item href="#/app/day/1" class="item item-icon-left"><i class="icon ion-ios-heart"></i> 第一天: 新的开始</ion-item>
      <ion-item href="#/app/day/2" class="item item-icon-left"><i class="icon ion-ios-star"></i> 第二天：令人期待的新体验</ion-item>
      <ion-item href="#/app/day/3" class="item item-icon-left"><i class="icon ion-ios-star"></i> 第三天：上线准备</ion-item>
      <ion-item href="#/app/day/4" class="item item-icon-left"><i class="icon ion-ios-star"></i> 第四天： 数据分析</ion-item>
      <ion-item href="#/app/day/5" class="item item-icon-left"><i class="icon ion-ios-star-half"></i> 第五天：持续交付</ion-item>
      <ion-item href="#/app/day/6" class="item item-icon-left"><i class="icon ion-ios-star-outline"></i> 第六天：恶梦</ion-item>
      <ion-item href="#/app/day/7" class="item item-icon-left"><i class="icon ion-ios-star"></i> 第七天：总结与计划</ion-item>
    </div>
  </ion-content>
</ion-view>
