<ion-view view-title="{{'exam' | translate }}">
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-ios-help-outline" ng-click="showHelp()"></a>
  </ion-nav-buttons>
  <ion-content>
    <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/quiz/html">
      <h2>{{"html" | translate}}</h2>
      <i class="icon ion-ios-arrow-right"></i>
    </ion-item>
    <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/quiz/css">
      <h2>{{"css" | translate}}</h2>
      <i class="icon ion-ios-arrow-right"></i>
    </ion-item>
    <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/quiz/javascript">
      <h2>{{"javascript" | translate}}</h2>
      <i class="icon ion-ios-arrow-right"></i>
    </ion-item>
    <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/quiz/fe">
      <h2>{{"front-end" | translate}}</h2>
      <i class="icon ion-ios-arrow-right"></i>
    </ion-item>
    <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/quiz/node">
      <h2>{{"node-js" | translate}}</h2>
      <i class="icon ion-ios-arrow-right"></i>
    </ion-item>
    <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/advance-quiz/refactor">
      <h2>{{"refactor" | translate}}</h2>
      <i class="icon ion-ios-arrow-right"></i>
    </ion-item>
  </ion-content>
</ion-view>
