<ion-view view-title="使用指南">
  <ion-content>
    <marked>

      主视图
      ---

      主页视图如下所示:

      ![screen](./img/help/start.jpg)

      1. 技能图谱。点击右上角的图标可以进入技能图谱，技能图谱将展示现在你学到的技术栈，并且可以向你推荐未来应该学习的技术栈。图标上的10则表示你新GET到的功能点数。
      2. 学习路线。学习路线是依据七日来规划的，每一日关注的点不同，如在第一天关注于如何从零开始去搭建项目。
      3. 切换视图。当前有两种视图，即路线图和七日谈。


      七日谈模式——侧重于理论
      ---

      七日谈模式关注于一些理论。如下图所示：

      ![day](./img/help/day.jpg)

      1. 右上角的简介。会介绍一些每一个事项相关的信息。
      2. GET技能。用于构建技能图谱、提供成长指南。
      3. 工具和书单。提供一些实用的工具，以及阅读书单等等。

      路线图模式——侧重于实战
      ---

      路线图关注于一些可以尝试开始的事项。如下图所示：

      ![roadmap](./img/help/roadmap.jpg)

      在每个Card中会包含如下的Todo List:

      ![todo](./img/help/todo.jpg)

      向左滑动即可以完成这个事项。

      菜单
      ---

      ![Menu](./img/help/menu.jpg)

      1. 技能测验。用于验证我们学习的内容，以及查找补漏。
      2. 读书路线。提供不同方向的书单，如前端。
      3. 解决方案。提供一些现有框架的框架示例。
      4. 意见和反馈。使用Github Issues来收集用户意见。
    </marked>
  </ion-content>
</ion-view>
