<ion-view view-title="Growth">
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-ios-toggle-outline" href="#/app/todoView"></a>
    <a class="button button-icon ion-ios-analytics-outline" href="#/app/skilltree"><span
      class="badge badge-assertive header-badge icon-badge" ng-show="badgePoints > 0">{{badgePoints}}</span></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="title"><img class="title-image full-image" src="img/screenshot.jpg"/></div>
    <div class="list card days" ng-show="!todoView">
      <ion-item href="#/app/day/1" class="item item-icon-right"><i class="icon ion-ios-arrow-right"></i>{{"day1" | translate}}</ion-item>
      <ion-item href="#/app/day/2" class="item item-icon-right"><i class="icon ion-ios-arrow-right"></i>{{"day2" | translate}}</ion-item>
      <ion-item href="#/app/day/3" class="item item-icon-right"><i class="icon ion-ios-arrow-right"></i>{{"day3" | translate}}</ion-item>
      <ion-item href="#/app/day/4" class="item item-icon-right"><i class="icon ion-ios-arrow-right"></i>{{"day4" | translate}}</ion-item>
      <ion-item href="#/app/day/5" class="item item-icon-right"><i class="icon ion-ios-arrow-right"></i>{{"day5" | translate}}</ion-item>
      <ion-item href="#/app/day/6" class="item item-icon-right"><i class="icon ion-ios-arrow-right"></i>{{"day6" | translate}}</ion-item>
      <ion-item href="#/app/day/7" class="item item-icon-right"><i class="icon ion-ios-arrow-right"></i>{{"day7" | translate}}</ion-item>
    </div>
  </ion-content>
</ion-view>
