<ion-view view-title="Growth">
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-ios-analytics-outline" href="#/app/skilltree"><span
      class="badge badge-assertive header-badge icon-badge" ng-show="badgePoints > 0">{{badgePoints}}</span></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="title"><img class="title-image full-image" src="img/screenshot.jpg"/></div>
    <div class="buttons more-view">
      <button class="button button-icon ion-ios-glasses-outline" ng-click="popover.show($event)">
      </button>
    </div>
    <div class="list card days" ng-show="!todoView">
      <ion-item href="#/app/day/1" class="item item-icon-left"><i class="icon ion-ios-heart"></i>第一日: 从零开始</ion-item>
      <ion-item href="#/app/day/2" class="item item-icon-left"><i class="icon ion-ios-star"></i>第二日: 编码</ion-item>
      <ion-item href="#/app/day/3" class="item item-icon-left"><i class="icon ion-ios-star"></i>第三日: 上线</ion-item>
      <ion-item href="#/app/day/4" class="item item-icon-left"><i class="icon ion-ios-star"></i>第四日: 数据分析</ion-item>
      <ion-item href="#/app/day/5" class="item item-icon-left"><i class="icon ion-ios-star-half"></i>第五日: 持续交付
      </ion-item>
      <ion-item href="#/app/day/6" class="item item-icon-left"><i class="icon ion-ios-star-outline"></i>第六日: 遗留系统
      </ion-item>
      <ion-item href="#/app/day/7" class="item item-icon-left"><i class="icon ion-ios-star"></i>第七日: 回顾与新架构</ion-item>
    </div>
    <div ng-show="!dayView">
      <ul class="roadmap-cards">
        <li class="roadmap-card" ng-click="openTodoModal('hello')">
          <span>入门</span>
        </li>
        <li class="roadmap-card" ng-click="openTodoModal('env')">
          <span>环境</span>
        </li>
        <li class="roadmap-card" ng-click="openTodoModal('front')">
          <span>前端</span>
        </li>
        <li class="roadmap-card" ng-click="openTodoModal('mvc')">
          <span>后台</span>
        </li>
        <li class="roadmap-card" ng-click="openTodoModal('test')">
          <span>测试</span>
        </li>
        <li class="roadmap-card" ng-click="openTodoModal('refactor')">
          <span>重构</span>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
