<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left"  expose-aside-when="large">
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/main" ui-sref=".main" ui-sref-active="active">
          <i class="side-menu-icon icon ion-ios-home-outline"></i>
          Growth
        </ion-item>
        <ion-item menu-close href="#/app/exam" ui-sref=".exam" ui-sref-active="active">
          <i class="side-menu-icon icon ion-ios-flask-outline"></i>
          {{"exam" | translate}}
        </ion-item>
        <ion-item class="item-divider">
          其他
        </ion-item>
        <ion-item menu-close href="#/app/solution" ui-sref=".solution" ui-sref-active="active">
          <i class="side-menu-icon ion-ios-world-outline"></i>
          {{"solution" | translate}}
        </ion-item>
        <ion-item menu-close href="#/app/community" ui-sref=".community" ui-sref-active="active">
          <i class="side-menu-icon icon ion-ios-people-outline"></i>
          {{"community" | translate}}
        </ion-item>
        <ion-item menu-close href="#/app/more" ui-sref=".more" ui-sref-active="active">
          <i class="side-menu-icon icon ion-ios-more-outline"></i>
          {{"more" | translate}}
        </ion-item>
        <ion-item menu-close href="#/app/about" ui-sref=".about" ui-sref-active="active">
          <i class="side-menu-icon icon ion-ios-information-outline"></i>
          {{"about" | translate}}
        </ion-item>
      </ion-list>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-footer">
      <h1 class="title side-menu" >
        <ion-item class="bottom-menu" menu-close ui-sref=".setting" ui-sref-active="active" href="#/app/setting">
          <i class="side-menu-icon icon ion-ios-cog-outline"></i>
          Setting
        </ion-item>
      </h1>
    </ion-footer-bar>
  </ion-side-menu>
</ion-side-menus>
