<ion-view view-title="{{'more' | translate}}">
  <ion-content>
    <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/book">
      <h2>{{"bookroadmap" | translate}}</h2>
      <i class="icon ion-ios-arrow-right"></i>
    </ion-item>

    <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/feedback">
      <h2>{{"feedback" | translate}}</h2>
      <i class="icon ion-ios-arrow-right"></i>
    </ion-item>

    <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/help">
      <h2>{{"help" | translate}}</h2>
      <i class="icon ion-ios-arrow-right"></i>
    </ion-item>
  </ion-content>
</ion-view>
