<ion-view view-title="{{'more' | translate}}">
  <ion-content class="has-header" on-swipe-right="goBack()" on-swipe-left="goForward()">
    <ion-list>
      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/book">
        <h2>{{"bookroadmap" | translate}}</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <!--<ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/help">-->
        <!--<h2>{{"help" | translate}}</h2>-->
        <!--<i class="icon ion-ios-arrow-right"></i>-->
      <!--</ion-item>-->

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/reviews">
        <h2>所有书评</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/articles">
        <h2>所有文章</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/todoView">
        <h2>所有TODO</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-left" type="item-text-wrap" href="#/app/about">
        <i class="icon ion-ios-information-outline"></i>
        <h2>{{"about" | translate}}</h2>
      </ion-item>

      <ion-item class="item item-icon-left" type="item-text-wrap" href="#/app/setting">
        <i class="icon ion-ios-cog-outline"></i>
        <h2>{{"setting" | translate}}</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
