<ion-view view-title="搜索(Alpha)" ng-controller="SearchCtrl">
  <ion-content>
    <div id="search-bar">
      <div class="item item-input-inset">
        <label class="item-input-wrapper" id="search-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" placeholder="Search" ng-model="query" ng-change="search(query)" autocorrect="off">
        </label>
      </div>
    </div>
    <ion-list>
      <ion-item class="item item-icon-right" type="item-text-wrap">

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
