<ion-view view-title="我的技能图谱">
  <ion-nav-buttons side="right">
    <button class="button text-center ratingsCount" ng-show="!isInfinite" ng-click='openSkillsModal()'>{{ratings}}</button>
    <button class="button button-icon ion-ios-infinite-outline" ng-show="isInfinite" ng-click='openSkillsModal()'></button>
  </ion-nav-buttons>
  <ion-content>
    <h1 class="sectionTitle" ng-hide="showSkillMap">快去GET你的技能吧!</h1>
    <ion-slide-box ng-show="showSkillMap = true">
      <ion-slide>
        <div id="skills">
          <div id="skillmap">
            <div class="skills-wrapper">
              <div class="skills-sunburst"></div>
              <div class="skills-chart">
                <div id="skills-chart-breadcrumb"></div>
              </div>
            </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div id="skillBubble"></div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-positive">
    <div class="buttons">
      <button class="button">算一算</button>
    </div>
    <h1 class="title"></h1>
    <div class="buttons" ng-click="doSomething()">
      <button class="button">How</button>
    </div>
  </ion-footer-bar>
</ion-view>
