<ion-view view-title="我的技能图谱">
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-ios-infinite-outline" ng-click='openSkillsModal()'></button>
  </ion-nav-buttons>
  <ion-content>
    <!-- 3d tags for circles -->
    <ion-slide-box>
      <ion-slide>
        <div id="skills">
          <div id="skillmap">
            <div class="skills-wrapper">
              <div class="skills-sunburst"></div>
              <div class="skills-chart">
                <div id="skills-chart-breadcrumb"></div>
              </div>
            </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        TBD
      </ion-slide>
    </ion-slide-box>

  </ion-content>
</ion-view>
