<ion-view view-title="解决方案(Beta)">
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-ios-search"></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card" ng-repeat="solution in solutions">
      <div class="item">
        <h2>{{solution.name}}</h2>
      </div>

      <div class="item item-body">
        <p>
          {{solution.description}}
        </p>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" ng-repeat="stack in solution.stacks" href="#/app/stack/{{stack | lowercase}}">{{stack}}</a>
      </div>
    </div>
  </ion-content>
</ion-view>
