<ion-view view-title="解决方案(Beta)">
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-ios-search"></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card">
      <div class="sectionTitle item">TBD</div>
      <ion-item class="item item-icon-right" type="item-text-wrap">
        <h2>Nginx Log + Hadoop + ElasticSearch + amMap</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item item-icon-right" type="item-text-wrap">
        <h2>Ionic + ngCordova + Angular</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item item-icon-right" type="item-text-wrap">
        <h2>Gulp + React + WebPack + Babel + Express</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item item-icon-right" type="item-text-wrap">
        <h2>Flask + Jinja2 + SQLAlchemy</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item item-icon-right" type="item-text-wrap">
        <h2>Flask + Mako + SLQLAlchemy</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item item-icon-right" type="item-text-wrap">
        <h2>Flask + Jinja2 + Peewee</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item item-icon-right" type="item-text-wrap">
        <h2>Spring MVC + iBATIS + Gradle</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
