<ion-view view-title="Growth">
  <ion-nav-buttons side="right">
    <a menu-close class="button button-icon ion-ios-toggle-outline" href="#/app/main"></a>
    <a class="button button-icon ion-ios-analytics-outline" href="#/app/skilltree"><span
      class="badge badge-assertive header-badge icon-badge" ng-show="badgePoints > 0">{{badgePoints}}</span></a>
  </ion-nav-buttons>
  <ion-content>
    <ul class="road-map">
      <li class="roadmap-card" ng-click="openTodoModal('{{todoKey}}')" ng-repeat="(todoKey, todoMenu) in todoMenus" ng-class="isFinish(todoMenu)">
        <span>{{todoMenu.zh}}</span>
      </li>
    </ul>
  </ion-content>
</ion-view>
