<ion-view view-title="详情">
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-ios-person-outline" href="#/app/login" ng-show="!isLogin"></a>
    <a class="button button-icon ion-ios-chatboxes-outline" ng-click="showCommentBox()" ng-show="isLogin"></a>
  </ion-nav-buttons>
  <ion-content class="has-header">

    <ion-item class="item item-icon-right" ng-show="!topic">
      <div class="sectionTitle"><ion-spinner></ion-spinner></div>
    </ion-item>

    <div class="topic row topicCard" ng-show="topic">
      <div class="col col80">
        <h4 class="title">{{topic.attributes.title}}</h4>
        <div class="summary">
          <img class="avatar" ng-src="{{ user.attributes.avatarUrl }}"/>
          <span>{{ user.attributes.username }}</span>
          <span class="item-note" am-time-ago="topic.attributes.startTime"></span>
        </div>
        <hr class="topic">
        <marked class="topic-content" ng-bind-html="post.attributes.contentHtml"></marked>
      </div>
    </div>

    <div class="topicItem">
      <div class="item item-text-wrap item-avatar" ng-repeat="comment in discussions"
           ng-if="comment.type==='posts' && comment.attributes.contentHtml && comment.attributes.number!== 1">
        <img ng-src="{{getAvatar(comment.relationships.user)}}">
        <!--<button class="button button-clear icon ion-thumbsup" ng-click="LikeIt(comment.attributes.id)"></button>-->
        <h2>{{getUsername(comment.relationships.user)}}</h2>
        <div ng-bind-html="encodeHTML(comment.attributes.contentHtml)"></div>
        <a class="icon ion-ios-more" style="float:right; font-size: 1.5em;padding-bottom: 10px;"></a>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-light reply-new" keyboard-attach ng-show="isLogin && isShowCommentBox">
    <label class="item-input-wrapper">
      <input type="text" placeholder="回复" ng-model="replyContent">
    </label>
    <button class="button button-small button-clear button-positive" ng-click="saveReply()">
      提交
    </button>
  </ion-footer-bar>
</ion-view>
