// http://ionicframework.com/docs/v2/theming/

// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.
.ion-page > ion-content.white {
  color: #FFF;
}

.ion-page > ion-content.blue {
  background-color: #6691B5;
}

.blue-text {
  color: #6691B5;
}

.ion-page > ion-content.green {
  background-color: #64B2B5;
}

.green-text {
  color: #64B2B5;
}

.ion-page > ion-content.purple {
  background-color: #9B90BC;
}

.purple-text {
  color: #9B90BC;
}

.ion-page > ion-content.turqoise {
  background-color: #1abc9c;
}

.turqoise-text {
  color: #ecf0f1;
}

.ion-page > ion-content.river {
  background-color: #3498db;
}

.river-text {
  color: #ecf0f1;
}

.ion-page > ion-content.yellow {
  background-color: #ffeb3b;
}

.yellow-text {
  color: #ecf0f1;
}

.ion-page > ion-content.concrete {
  background-color: #95a5a6;
}

.concrete-text {
  color: #ecf0f1;
}

.ion-page > ion-content.emerald {
  background-color: #2ecc71;
}

.emerald-text {
  color: #ecf0f1;
}

.ion-page > ion-content.carrot {
  background-color: #e67e22;
}

.carrot-text {
  color: #ecf0f1;
}

.ion-page > ion-content.red {
  background-color: #f44336;
}

.red-text {
  color: #ecf0f1;
}

.ion-page > ion-content.asphalt {
  background-color: #34495e;
}

.asphalt-text {
  color: #ecf0f1;
}

.transparent-bg {
  background-color: transparent;
}

paging-component {
  display: block;
  height: 100px;
}

.paging-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paging-circle-wrapper {
  padding: 0px 5px 0px 5px;
  display: inline-block;
}

.paging-circle {
  transform-origin: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 3px solid #FFF;
}

.inner-circle {
  border-radius: inherit;
  height: 100%;
  background-color: #FFF;
  opacity: 0.0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paging-icon {
  font-size: 30px;
}

body-content {
  position: relative;
  top: 10%;
  left: 10%;
  display: block;
  height: 80%;
  width: 80%;
  pointer-events: none;
}

.content-nav, .content-nav > ion-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-nav > .nav-decor {
  display: none !important;
}

.content-container {
  max-width: 355px;
}

.content-icon {
  font-size: 200px;
}

.circle-animation-helper {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  z-index: -1;
  opacity: 0.0;
}

.end-button {
  position: absolute;
  top: 10px;
  right: 10px;
}
