<ion-view view-title="前期准备">
  <ion-content>
    <div class="list card">
      <div class="item item-body">
        <blockquote>项目开始之前我们需要有一些特定的知识来支撑我们前进</blockquote>
      </div>
    </div>
    <div class="list card">
      <div class="sectionTitle">hello, world</div>
      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" href="#/app/day/0" ng-click="openSpecialModal('hello', 'desc')"><i
          class="icon ion-ios-folder"></i>简介</a> |
        <a class="tab-item" href="#/app/day/0" ng-click="openSpecialModal('hello', 'book')"><i
          class="icon ion-ios-book"></i>书单</a> |
        <a class="tab-item" href="#/app/day/0" ng-click="openSpecialModal('hello', 'todo')"><i
          class="icon ion-ios-paper"></i>TODO</a>
      </div>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/html">
        <h2>无处不在的HTML</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/css">
        <h2>无处不在的CSS</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/javascript">
        <h2>无处不在的JavaScript</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" href="#/app/day/0" ng-click="getSkill('hello')">
        <h2>GET 新技能</h2>
        <i class="icon ion-ios-checkmark-outline"></i>
      </ion-item>
    </div>

    <div class="list card">
      <div class="sectionTitle">开发环境</div>
      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" href="#/app/day/0" ng-click="openSpecialModal('env', 'desc')"><i
          class="icon ion-ios-folder"></i>简介</a> |
        <a class="tab-item" href="#/app/day/0" ng-click="openSpecialModal('pm', 'tool')"><i
          class="icon ion-ios-briefcase"></i>工具</a> |
        <a class="tab-item" href="#/app/day/0" ng-click="openSpecialModal('env', 'todo')"><i
          class="icon ion-ios-book"></i>TODO</a>
      </div>
      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/windows-unix">
        <h2>Windows或者类Unix</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/pm">
        <h2>包管理</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/env">
        <h2>搭建开发环境(Windows)</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/env-osx">
        <h2>搭建开发环境(OSX)</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item item-icon-right" href="#/app/day/0" ng-click="getSkill('env')">
        <h2>GET 新技能</h2>
        <i class="icon ion-ios-checkmark-outline"></i>
      </ion-item>
    </div>

    <div class="list card">
      <div class="sectionTitle">MVC</div>
      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" href="#/app/day/1" ng-click="openSpecialModal('mvc', 'desc')"><i
          class="icon ion-ios-folder"></i>简介</a> |
        <a class="tab-item" href="#/app/day/1" ng-click="openSpecialModal('mvc', 'tool')"><i
          class="icon ion-ios-briefcase"></i>工具</a> |
        <a class="tab-item" href="#/app/day/1" ng-click="openSpecialModal('mvc', 'book')"><i
          class="icon ion-ios-book"></i>书单</a>
      </div>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/mvc">
        <h2>MVC</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/mvvm">
        <h2>MVVM</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item item-icon-right" href="#/app/day/1" ng-click="getSkill('mvc')">
        <h2>GET 新技能</h2>
        <i class="icon ion-ios-checkmark-outline"></i>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
