<ion-view view-title="从零开始">
  <ion-content>
    <!--<div class="title"><img class="title-image full-image" src="img/day1/hello-world.png"/></div>-->
    <div class="list card">
      <div class="item item-body">
        <blockquote>我们迎来了我们的新的一个项目，看起来每个人都很兴奋。这一天过得很快，也做了特别多的事。</blockquote>
        <ion-slide-box>
          <ion-slide>
            <p>首先，我们搭建了自己本地的开发环境。我们选择了一门新的语言，也开始使用新的IDE，一个全新的开始。</p>
            <p>接着，我们开始创建一个很简单的Hello，World——在绝大多数语言里都有这样的一个传统。这是一个Web项目，看来我们选用的框架里的Hello，World是一个TODO MVC。</p>
            <br/>
          </ion-slide>
          <ion-slide>
            <p>呀！这个框架比原来那个框架看起来更简单，更直接也更加好用。</p>
            <br/>
          </ion-slide>
          <ion-slide>
            <p>
              然后，我们开始去创建我们的构建系统了。让我们告别Ant，迎来新的构建工具，Gradle比他们强大多了。我们可以用这个构建工具来做很多的事情——依赖管理、编译和构造、打包。Gulp看上去很流行，让我们用Gulp吧。顺便再创建一个或多个用于发布和构建的服务器。</p>
            <br/>
          </ion-slide>
          <ion-slide>
            <p>最后，在我们的持续构建系统中搭载相应的PipeLine来完成这些事。</p>
            <p>第一天，就这样兴奋地结束了。</p>
            <br/>
          </ion-slide>
        </ion-slide-box>
      </div>
    </div>

    <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/day/0">
      <h2>前期准备</h2>
      <i class="icon ion-ios-arrow-right"></i>
    </ion-item>

    <div class="list card">
      <div class="sectionTitle item">构建系统
        <a ng-click="getSkill('build')" class="get"><span>Get</span> &nbsp;<i class="icon ion-ios-checkmark-outline"></i></a>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" href="#/app/day/1" ng-click="openSpecialModal('build', 'desc')"><i
          class="icon ion-ios-folder"></i>简介</a> |
        <a class="tab-item" href="#/app/day/1" ng-click="openSpecialModal('build', 'tool')"><i
          class="icon ion-ios-briefcase"></i>工具</a> |
        <a class="tab-item" href="#/app/day/1" ng-click="openSpecialModal('build', 'book')"><i
          class="icon ion-ios-book"></i>书单</a>
      </div>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/git">
        <h2>Git与版本管理</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/builder">
        <h2>一个构建系统的构建过程</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </div>

    <div class="list card">
      <div class="sectionTitle">前端
        <a ng-click="getSkill('front')" class="get"><span>Get</span> &nbsp;<i class="icon ion-ios-checkmark-outline"></i></a>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" href="#/app/day/1" ng-click="openSpecialModal('front', 'desc')"><i
          class="icon ion-ios-folder"></i>简介</a> |
        <a class="tab-item" href="#/app/day/1" ng-click="openSpecialModal('front', 'tool')"><i
          class="icon ion-ios-briefcase"></i>工具</a> |
        <a class="tab-item" href="#/app/day/1" ng-click="openSpecialModal('front', 'book')"><i
          class="icon ion-ios-book"></i>书单</a>
      </div>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/choice-frontend">
        <h2>如何选择前端框架</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/mvvm">
        <h2>MVVM</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </div>

    <div class="list card">
      <div class="sectionTitle">后台
        <a ng-click="getSkill('framework')" class="get"><span>Get</span> &nbsp;<i class="icon ion-ios-checkmark-outline"></i></a>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" href="#/app/day/1" ng-click="openSpecialModal('mvc', 'desc')"><i
          class="icon ion-ios-folder"></i>简介</a> |
        <a class="tab-item" href="#/app/day/1" ng-click="openSpecialModal('mvc', 'tool')"><i
          class="icon ion-ios-briefcase"></i>工具</a> |
        <a class="tab-item" href="#/app/day/1" ng-click="openSpecialModal('mvc', 'book')"><i
          class="icon ion-ios-book"></i>书单</a>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" href="#/app/day/1" ng-click="openSpecialModal('mvc', 'services')"><i
          class="icon ion-ios-briefcase"></i>Web服务框架</a> |
        <a class="tab-item" href="#/app/day/1" ng-click="openSpecialModal('mvc', 'framework')"><i
          class="icon ion-ios-briefcase"></i>Web框架</a>
      </div>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/backend-language">
        <h2>如何选择后台语言?</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/mvc">
        <h2>MVC</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/persistence">
        <h2>数据持久化</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/serviceful">
        <h2>RESTful与服务化趋势</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/micro-services">
        <h2>微服务</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </div>

  </ion-content>
</ion-view>
