<ion-view view-title="{{ 'day1' | translate}}">
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-ios-information-outline" ng-click='openIntroModal(1)'></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/day/0">
      <h2>{{ 'day0' | translate}}</h2>
      <i class="icon ion-ios-arrow-right"></i>
    </ion-item>

    <div class="list card">
      <div class="sectionTitle item">{{ "build-system" | translate}}
        <a ng-click="getSkill('build')" class="get"><span>Get</span> &nbsp;<i class="icon ion-ios-checkmark-outline"></i></a>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" href="#/app/day/1" ng-click="openDescModal('build')"><i
          class="icon ion-ios-information-outline"></i>{{"info" | translate}}</a> |
        <a class="tab-item" href="#/app/day/1" ng-click="openToolModal('build')"><i
          class="icon ion-ios-briefcase-outline"></i>{{"tool" | translate}}</a> |
        <a class="tab-item" href="#/app/day/1" ng-click="openBookListModal('build')"><i
          class="icon ion-ios-bookmarks-outline"></i>{{"books" | translate}}</a>
      </div>
      <ion-item ng-repeat="helper in HELPER.build" class="item item-icon-left" type="item-text-wrap" ng-click="openArticleModal('{{helper.slug}}')">
        <h2>{{helper.title}}</h2>
        <i class="icon ion-ios-paper-outline"></i>
      </ion-item>
    </div>

    <div class="list card">
      <div class="sectionTitle item">{{ "front" | translate}}
        <a ng-click="getSkill('front')" class="get"><span>Get</span> &nbsp;<i class="icon ion-ios-checkmark-outline"></i></a>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" href="#/app/day/1" ng-click="openDescModal('front')"><i
          class="icon ion-ios-information-outline"></i>{{"info" | translate}}</a> |
        <a class="tab-item" href="#/app/day/1" ng-click="openToolModal('front')"><i
          class="icon ion-ios-briefcase-outline"></i>{{"tool" | translate}}</a> |
        <a class="tab-item" href="#/app/day/1" ng-click="openBookListModal('front')"><i
          class="icon ion-ios-bookmarks-outline"></i>{{"books" | translate}}</a>
      </div>
      <ion-item ng-repeat="helper in HELPER.front" class="item item-icon-left" type="item-text-wrap" ng-click="openArticleModal('{{helper.slug}}')">
        <h2>{{helper.title}}</h2>
        <i class="icon ion-ios-paper-outline"></i>
      </ion-item>
      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" href="#/app/day/1" ng-click="openSpecialModal('front', 'tree')"><i
          class="icon ion-ios-flame-outline"></i>成长路线</a> |
        <a class="tab-item" href="#/app/day/1" ng-click="openSpecialModal('front', 'debug')"><i
          class="icon ion-ios-gear-outline"></i>调试{{"tool" | translate}}</a> |
        <a class="tab-item" href="#/app/day/1" ng-click="openTodoModal('front')"><i
          class="icon ion-ios-paper-outline"></i>TODO</a>
      </div>
    </div>

    <div class="list card">
      <div class="sectionTitle item">{{ "backend" | translate}}
        <a ng-click="getSkill('framework')" class="get"><span>Get</span> &nbsp;<i class="icon ion-ios-checkmark-outline"></i></a>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" href="#/app/day/1" ng-click="openDescModal('backend')"><i
          class="icon ion-ios-information-outline"></i>{{"info" | translate}}</a> |
        <a class="tab-item" href="#/app/day/1" ng-click="openToolModal('backend')"><i
          class="icon ion-ios-briefcase-outline"></i>{{"tool" | translate}}</a> |
        <a class="tab-item" href="#/app/day/1" ng-click="openBookListModal('backend')"><i
          class="icon ion-ios-bookmarks-outline"></i>{{"books" | translate}}</a>
      </div>

      <ion-item ng-repeat="helper in HELPER.backend" class="item item-icon-left" type="item-text-wrap" ng-click="openArticleModal('{{helper.slug}}')">
        <h2>{{helper.title}}</h2>
        <i class="icon ion-ios-paper-outline"></i>
      </ion-item>

      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" href="#/app/day/1" ng-click="openSpecialModal('backend', 'services')"><i
          class="icon ion-ios-briefcase-outline"></i>服务框架</a> |
        <a class="tab-item" href="#/app/day/1" ng-click="openSpecialModal('backend', 'framework')"><i
          class="icon ion-ios-briefcase-outline"></i>应用框架</a> |
        <a class="tab-item" href="#/app/day/1" ng-click="openTodoModal('backend')"><i
          class="icon ion-ios-paper-outline"></i>TODO</a>
      </div>
    </div>

  </ion-content>
</ion-view>
