<ion-view view-title="从零开始">
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-ios-information-outline" ng-click='openIntroModal(1)'></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/day/0">
      <h2>前期准备</h2>
      <i class="icon ion-ios-arrow-right"></i>
    </ion-item>

    <div class="list card">
      <div class="sectionTitle item">构建系统
        <a ng-click="getSkill('build')" class="get"><span>Get</span> &nbsp;<i class="icon ion-ios-checkmark-outline"></i></a>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" href="#/app/day/1" ng-click="openSpecialModal('build', 'desc')"><i
          class="icon ion-ios-information-outline"></i>{{"info" | translate}}</a> |
        <a class="tab-item" href="#/app/day/1" ng-click="openSpecialModal('build', 'tool')"><i
          class="icon ion-ios-briefcase-outline"></i>{{"tool" | translate}}</a> |
        <a class="tab-item" href="#/app/day/1" ng-click="openSpecialModal('build', 'book')"><i
          class="icon ion-ios-bookmarks-outline"></i>{{"books" | translate}}</a>
      </div>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/git">
        <h2>Git与版本管理</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/builder">
        <h2>一个构建系统的构建过程</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </div>

    <div class="list card">
      <div class="sectionTitle item">前端
        <a ng-click="getSkill('front')" class="get"><span>Get</span> &nbsp;<i class="icon ion-ios-checkmark-outline"></i></a>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" href="#/app/day/1" ng-click="openSpecialModal('front', 'desc')"><i
          class="icon ion-ios-information-outline"></i>{{"info" | translate}}</a> |
        <a class="tab-item" href="#/app/day/1" ng-click="openSpecialModal('front', 'tool')"><i
          class="icon ion-ios-briefcase-outline"></i>{{"tool" | translate}}</a> |
        <a class="tab-item" href="#/app/day/1" ng-click="openSpecialModal('front', 'book')"><i
          class="icon ion-ios-bookmarks-outline"></i>{{"books" | translate}}</a>
      </div>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/choice-frontend">
        <h2>如何选择前端框架</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/ajax">
        <h2>Ajax与JSON</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/frontend-history">
        <h2>前端演进史</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/mvvm">
        <h2>MVVM</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" href="#/app/day/1" ng-click="openSpecialModal('front', 'tree')"><i
          class="icon ion-ios-flame-outline"></i>成长路线</a> |
        <a class="tab-item" href="#/app/day/1" ng-click="openSpecialModal('front', 'debug')"><i
          class="icon ion-ios-gear-outline"></i>调试{{"tool" | translate}}</a> |
        <a class="tab-item" href="#/app/day/1" ng-click="openTodoModal('front')"><i
          class="icon ion-ios-paper-outline"></i>TODO</a>
      </div>
    </div>

    <div class="list card">
      <div class="sectionTitle item">后台
        <a ng-click="getSkill('framework')" class="get"><span>Get</span> &nbsp;<i class="icon ion-ios-checkmark-outline"></i></a>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" href="#/app/day/1" ng-click="openSpecialModal('mvc', 'desc')"><i
          class="icon ion-ios-information-outline"></i>{{"info" | translate}}</a> |
        <a class="tab-item" href="#/app/day/1" ng-click="openSpecialModal('mvc', 'tool')"><i
          class="icon ion-ios-briefcase-outline"></i>{{"tool" | translate}}</a> |
        <a class="tab-item" href="#/app/day/1" ng-click="openSpecialModal('mvc', 'book')"><i
          class="icon ion-ios-bookmarks-outline"></i>{{"books" | translate}}</a>
      </div>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/backend-language">
        <h2>如何选择后台语言?</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/mvc">
        <h2>MVC</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/persistence">
        <h2>数据持久化</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/serviceful">
        <h2>RESTful与服务化趋势</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/micro-services">
        <h2>微服务</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" href="#/app/day/1" ng-click="openSpecialModal('mvc', 'services')"><i
          class="icon ion-ios-briefcase-outline"></i>服务框架</a> |
        <a class="tab-item" href="#/app/day/1" ng-click="openSpecialModal('mvc', 'framework')"><i
          class="icon ion-ios-briefcase-outline"></i>应用框架</a> |
        <a class="tab-item" href="#/app/day/1" ng-click="openTodoModal('mvc')"><i
          class="icon ion-ios-paper-outline"></i>TODO</a>
      </div>
    </div>

  </ion-content>
</ion-view>
