<ion-view view-title="{{ 'day2' | translate}}">
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-ios-information-outline" ng-click='openIntroModal(2)'></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card">
      <div class="sectionTitle item">{{ "before" | translate}}
        <a ng-click="getSkill('before')" class="get"><span>Get</span> &nbsp;<i class="icon ion-ios-checkmark-outline"></i></a>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" ng-click="openSpecialModal('before', 'desc')"><i class="icon ion-ios-information-outline"></i>{{"info" | translate}}</a> |
        <a class="tab-item" ng-click="openBookListModal('before')"><i class="icon ion-ios-bookmarks-outline"></i>{{"books" | translate}}</a> |
        <a class="tab-item" ng-click="openTodoModal('before')"><i class="icon ion-ios-paper-outline"></i>TODO</a>
      </div>
      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/kickoff">
        <h2>Kickoff</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/tasking">
        <h2>Tasking</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/typing">
        <h2>写代码只是在码字</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </div>

    <div class="list card">
      <div class="sectionTitle item">{{ "test" | translate}}
        <a ng-click="getSkill('test')" class="get"><span>Get</span> &nbsp;<i class="icon ion-ios-checkmark-outline"></i></a>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" ng-click="openSpecialModal('test', 'desc')"><i class="icon ion-ios-information-outline"></i>{{"info" | translate}}</a> |
        <a class="tab-item" ng-click="openBookListModal('test')"><i class="icon ion-ios-bookmarks-outline"></i>{{"books" | translate}}</a> |
        <a class="tab-item" ng-click="openTodoModal('test')"><i class="icon ion-ios-paper-outline"></i>TODO</a>
      </div>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/how-to-test">
        <h2>如何写测试——测试金字塔</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/mock">
        <h2>MOCK和STUB</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/tdd">
        <h2>测试如何驱动开发(TDD)</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/selenium">
        <h2>自动化测试——Selenium</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" ng-click="openSpecialModal('test', 'tool')"><i class="icon ion-ios-bookmarks-outline"></i>{{"tool" | translate}}</a>
      </div>
    </div>

    <div class="list card">
      <div class="sectionTitle item">{{ "coding" | translate}}
        <a ng-click="getSkill('coding')" class="get"><span>Get</span> &nbsp;<i class="icon ion-ios-checkmark-outline"></i></a>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" ng-click="openSpecialModal('coding', 'desc')"><i class="icon ion-ios-information-outline"></i>{{"info" | translate}}</a> |
        <a class="tab-item" ng-click="openBookListModal('coding')"><i class="icon ion-ios-bookmarks-outline"></i>{{"books" | translate}}</a> |
        <a class="tab-item" ng-click="openSpecialModal('coding', 'tree')"><i class="icon ion-ios-paper-outline"></i>Growth</a>
      </div>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/readable">
        <h2>可读的代码</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/refactor">
        <h2>重构</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/intellij-refactor">
        <h2>Intellij Idea重构</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </div>

  </ion-content>
</ion-view>
