<ion-view view-title="编码">
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-ios-information-outline" ng-click='openIntroModal(2)'></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card">
      <div class="sectionTitle item">编码之前
        <a ng-click="getSkill('before')" class="get"><span>Get</span> &nbsp;<i class="icon ion-ios-checkmark-outline"></i></a>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" ng-click="openSpecialModal('before', 'desc')"><i class="icon ion-ios-information-outline"></i>简介</a> |
        <a class="tab-item" ng-click="openSpecialModal('before', 'book')"><i class="icon ion-ios-bookmarks-outline"></i>书单</a> |
        <a class="tab-item" ng-click="openSpecialModal('before', 'todo')"><i class="icon ion-ios-paper-outline"></i>TODO</a>
      </div>
      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/kickoff">
        <h2>Kickoff</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/tasking">
        <h2>Tasking</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/typing">
        <h2>写代码只是在码字</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </div>

    <div class="list card">
      <div class="sectionTitle item">测试
        <a ng-click="getSkill('test')" class="get"><span>Get</span> &nbsp;<i class="icon ion-ios-checkmark-outline"></i></a>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" ng-click="openSpecialModal('test', 'desc')"><i class="icon ion-ios-information-outline"></i>简介</a> |
        <a class="tab-item" ng-click="openSpecialModal('test', 'book')"><i class="icon ion-ios-bookmarks-outline"></i>书单&工具</a> |
        <a class="tab-item" ng-click="openTodoModal('test')"><i class="icon ion-ios-paper-outline"></i>TODO</a>
      </div>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/mock">
        <h2>MOCK和STUB</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/tdd">
        <h2>测试如何驱动开发(TDD)</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/selenium">
        <h2>Selenium与自动化测试</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </div>

    <div class="list card">
      <div class="sectionTitle item">Coding
        <a ng-click="getSkill('coding')" class="get"><span>Get</span> &nbsp;<i class="icon ion-ios-checkmark-outline"></i></a>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" ng-click="openSpecialModal('coding', 'desc')"><i class="icon ion-ios-information-outline"></i>简介</a> |
        <a class="tab-item" ng-click="openSpecialModal('coding', 'book')"><i class="icon ion-ios-bookmarks-outline"></i>书单</a> |
        <a class="tab-item" ng-click="openSpecialModal('coding', 'tree')"><i class="icon ion-ios-paper-outline"></i>成长树</a>
      </div>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/readable">
        <h2>可读的代码</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/refactor">
        <h2>重构</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/intellij-refactor">
        <h2>Intellij Idea重构</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </div>

  </ion-content>
</ion-view>
