<ion-view view-title="{{ 'day2' | translate}}">
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-ios-information-outline" ng-click='openIntroModal(2)'></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card">
      <div class="sectionTitle item">{{ "before" | translate}}
        <a ng-click="getSkill('before')" class="get"><span>Get</span> &nbsp;<i class="icon ion-ios-checkmark-outline"></i></a>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" ng-click="openDescModal('before')"><i class="icon ion-ios-information-outline"></i>{{"info" | translate}}</a> |
        <a class="tab-item" ng-click="openBookListModal('before')"><i class="icon ion-ios-bookmarks-outline"></i>{{"books" | translate}}</a> |
        <a class="tab-item" ng-click="openTodoModal('before')"><i class="icon ion-ios-paper-outline"></i>TODO</a>
      </div>
      <ion-item ng-repeat="helper in HELPER.before" class="item item-icon-left" type="item-text-wrap" ng-click="openArticleModal('{{helper.slug}}')">
        <h2>{{helper.title}}</h2>
        <i class="icon ion-ios-book-outline"></i>
      </ion-item>
    </div>

    <div class="list card">
      <div class="sectionTitle item">{{ "test" | translate}}
        <a ng-click="getSkill('test')" class="get"><span>Get</span> &nbsp;<i class="icon ion-ios-checkmark-outline"></i></a>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" ng-click="openDescModal('test')"><i class="icon ion-ios-information-outline"></i>{{"info" | translate}}</a> |
        <a class="tab-item" ng-click="openBookListModal('test')"><i class="icon ion-ios-bookmarks-outline"></i>{{"books" | translate}}</a> |
        <a class="tab-item" ng-click="openTodoModal('test')"><i class="icon ion-ios-paper-outline"></i>TODO</a>
      </div>
      <ion-item ng-repeat="helper in HELPER.test" class="item item-icon-left" type="item-text-wrap" ng-click="openArticleModal('{{helper.slug}}')">
        <h2>{{helper.title}}</h2>
        <i class="icon ion-ios-book-outline"></i>
      </ion-item>
      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" ng-click="openToolModal('test')"><i class="icon ion-ios-briefcase-outline"></i>{{"tool" | translate}}</a>
      </div>
    </div>

    <div class="list card">
      <div class="sectionTitle item">{{ "coding" | translate}}
        <a ng-click="getSkill('coding')" class="get"><span>Get</span> &nbsp;<i class="icon ion-ios-checkmark-outline"></i></a>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" ng-click="openDescModal('coding')"><i class="icon ion-ios-information-outline"></i>{{"info" | translate}}</a> |
        <a class="tab-item" ng-click="openBookListModal('coding')"><i class="icon ion-ios-bookmarks-outline"></i>{{"books" | translate}}</a> |
        <a class="tab-item" ng-click="openSpecialModal('coding', 'tree')"><i class="icon ion-ios-color-filter-outline"></i>Growth</a>
      </div>

      <ion-item ng-repeat="helper in HELPER.coding" class="item item-icon-left" type="item-text-wrap" ng-click="openArticleModal('{{helper.slug}}')">
        <h2>{{helper.title}}</h2>
        <i class="icon ion-ios-book-outline"></i>
      </ion-item>
    </div>

  </ion-content>
</ion-view>
