<ion-view view-title="上线">
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-ios-information-outline" ng-click='openIntroModal(3)'></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card">
      <div class="sectionTitle item">容器
        <a ng-click="getSkill('container')" class="get"><span>Get</span> &nbsp;<i class="icon ion-ios-checkmark-outline"></i></a>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" href="#/app/day/3" ng-click="openSpecialModal('container', 'desc')"><i class="icon ion-ios-information-outline"></i>简介</a> |
        <a class="tab-item" href="#/app/day/3" ng-click="openSpecialModal('container', 'tool')"><i class="icon ion-ios-bookmarks-outline"></i>工具</a> |
        <a class="tab-item" href="#/app/day/3" ng-click="openTodoModal('container')"><i class="icon ion-ios-paper-outline"></i>TODO</a>
      </div>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/container">
        <h2>Web容器</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/docker">
        <h2>Docker</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </div>

    <div class="list card">
      <div class="sectionTitle item">Server
        <a ng-click="getSkill('server')" class="get"><span>Get</span> &nbsp;<i class="icon ion-ios-checkmark-outline"></i></a>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" href="#/app/day/3" ng-click="openSpecialModal('server', 'desc')"><i class="icon ion-ios-information-outline"></i>简介</a>
        <a class="tab-item" href="#/app/day/3" ng-click="openSpecialModal('server', 'book')"><i class="icon ion-ios-bookmarks-outline"></i>书单</a>
        <a class="tab-item" href="#/app/day/3" ng-click="openSpecialModal('server', 'tree')"><i class="icon ion-ios-paper-outline"></i>Growth</a>
      </div>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/lnmp">
        <h2>LNMP</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/cache">
        <h2>Web缓存</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/http-server">
        <h2>HTTP服务器</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/proxy">
        <h2>代理服务器</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </div>


    <div class="list card">
      <div class="sectionTitle item">可配置
        <a ng-click="getSkill('configurable')" class="get"><span>Get</span> &nbsp;<i class="icon ion-ios-checkmark-outline"></i></a>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" href="#/app/day/3" ng-click="openSpecialModal('configurable', 'desc')"><i class="icon ion-ios-information-outline"></i>简介</a> |
        <a class="tab-item" href="#/app/day/3" ng-click="openSpecialModal('configurable', 'tool')"><i class="icon ion-ios-bookmarks-outline"></i>工具&书单</a> |
        <a class="tab-item" href="#/app/day/3" ng-click="openTodoModal('configurable')"><i class="icon ion-ios-paper-outline"></i>TODO</a>
      </div>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/configurable">
        <h2>可配置管理</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/toggle">
        <h2>Toggle</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
