<ion-view cache-view="true" view-title="{{ 'day4' | translate}}">
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-ios-information-outline" ng-click='openIntroModal(4)'></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card">
      <div class="sectionTitle item">数据分析
        <a ng-click="getSkill('analytics')" class="get"><span>Get</span> &nbsp;<i class="icon ion-ios-checkmark-outline"></i></a>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" href="#/app/day/4" ng-click="openDescModal('analytics')"><i class="icon ion-ios-information-outline"></i>{{"info" | translate}}</a> |
        <a class="tab-item" href="#/app/day/4" ng-click="openBookListModal('analytics')"><i class="icon ion-ios-bookmarks-outline"></i>{{"books" | translate}}</a> |
        <a class="tab-item" href="#/app/day/4" ng-click="openTodoModal('analytics')"><i class="icon ion-ios-paper-outline"></i>TODO</a>
      </div>

      <ion-item ng-repeat="helper in HELPER.analytics" class="item item-icon-left" type="item-text-wrap" ng-click="openArticleModal('{{helper.slug}}')">
        <h2>{{helper.title}}</h2>
        <i class="icon ion-ios-book-outline"></i>
      </ion-item>
      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" href="#/app/day/4" ng-click="openToolModal('analytics')"><i class="icon ion-ios-briefcase-outline"></i>{{"tool" | translate}}</a>
      </div>
    </div>

    <div class="list card">
      <div class="sectionTitle item">用户体验
        <a ng-click="getSkill('ux')" class="get"><span>Get</span> &nbsp;<i class="icon ion-ios-checkmark-outline"></i></a>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" href="#/app/day/4" ng-click="openDescModal('ux')"><i class="icon ion-ios-information-outline"></i>{{"info" | translate}}</a> |
        <a class="tab-item" href="#/app/day/4" ng-click="openBookListModal('ux')"><i class="icon ion-ios-bookmarks-outline"></i>{{"books" | translate}}</a> |
        <a class="tab-item" href="#/app/day/4" ng-click="openSpecialModal('ux', 'growth')"><i class="icon ion-ios-color-filter-outline"></i>Growth</a>
      </div>

      <ion-item ng-repeat="helper in HELPER.ux" class="item item-icon-left" type="item-text-wrap" ng-click="openArticleModal('{{helper.slug}}')">
        <h2>{{helper.title}}</h2>
        <i class="icon ion-ios-book-outline"></i>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
