<ion-view view-title="持续交付">
  <ion-content>
    <!--<div class="title"><img class="title-image full-image" src="img/day1/hello-world.png"/></div>-->
    <div class="list card">
      <div class="item item-body">
        <blockquote>又修了一个bug。</blockquote>
      </div>

      <div class="item item-body">
        <p>噢！我不觉得这个功能用户会喜欢。</p>
        <p>哈！这个新功能看上去不错。</p>
      </div>
    </div>


    <div class="list card">
      <div class="sectionTitle item">持续集成
        <a ng-click="getSkill('ci')" class="get"><span>Get</span> &nbsp;<i class="icon ion-ios-checkmark-outline"></i></a>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" href="#/app/day/1" ng-click="openSpecialModal('ci', 'desc')"><i class="icon ion-ios-folder"></i>简介</a> |
        <a class="tab-item" href="#/app/day/1" ng-click="openSpecialModal('ci', 'tool')"><i class="icon ion-ios-briefcase"></i>工具</a>
      </div>
      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/ci">
        <h2>搭建持续集成</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/auto">
        <h2>自动化构建</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </div>

    <div class="list card">
      <div class="sectionTitle item">持续交付
        <a ng-click="getSkill('cd')" class="get"><span>Get</span> &nbsp;<i class="icon ion-ios-checkmark-outline"></i></a>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" href="#/app/day/5" ng-click="openSpecialModal('cd', 'desc')"><i class="icon ion-ios-folder"></i>简介</a>
        <a class="tab-item" href="#/app/day/5" ng-click="openSpecialModal('cd', 'book')"><i class="icon ion-ios-book"></i>书单</a>
        <a class="tab-item" href="#/app/day/5" ng-click="openSpecialModal('cd', 'tree')"><i class="icon ion-ios-paper"></i>成长树</a>
      </div>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/cd">
        <h2>持续交付</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
