<ion-view view-title="遗留系统">
  <ion-content>
    <!--<div class="title"><img class="title-image full-image" src="img/day1/hello-world.png"/></div>-->
    <div class="list card">
      <div class="item item-body">
        <blockquote>唉！这代码是谁写的！</blockquote>
      </div>

      <div class="item item-body">
        <p>这里需要重构一下，这里也需要重构一下。</p>
        <p>什么！没有测试！</p>
        <p>Shit!</p>
      </div>
    </div>


    <div class="list card">
      <div class="sectionTitle">遗留系统</div>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/arch-pattern">
        <h2>遗留代码</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" href="#/app/day/6" ng-click="openSpecialModal('legacy', 'desc')"><i class="icon ion-ios-folder"></i>简介</a>
        <a class="tab-item" href="#/app/day/6" ng-click="openSpecialModal('legacy', 'book')"><i class="icon ion-ios-book"></i>读书</a>
        <a class="tab-item" href="#/app/day/6" ng-click="openSpecialModal('legacy', 'tree')"><i class="icon ion-ios-paper"></i>成长树</a>
      </div>
    </div>

    <div class="list card">
      <div class="sectionTitle">重构</div>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/refactor2">
        <h2>重构进阶</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/readable">
        <h2>可读的代码</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/change-code">
        <h2>如何修改代码</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" href="#/app/day/6" ng-click="openSpecialModal('refactor', 'desc')"><i class="icon ion-ios-folder"></i>简介</a>
        <a class="tab-item" href="#/app/day/6" ng-click="openSpecialModal('refactor', 'book')"><i class="icon ion-ios-book"></i>读书</a>
        <a class="tab-item" href="#/app/day/6" ng-click="openSpecialModal('refactor', 'tree')"><i class="icon ion-ios-paper"></i>成长树</a>
      </div>
    </div>
  </ion-content>
</ion-view>
