<ion-view view-title="{{ 'day6' | translate}}">
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-ios-information-outline" ng-click='openIntroModal(6)'></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card">
      <div class="sectionTitle item">遗留系统</div>
      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" href="#/app/day/6" ng-click="openDescModal('legacy')"><i
          class="icon ion-ios-information-outline"></i>{{"info" | translate}}</a> |
        <a class="tab-item" href="#/app/day/6" ng-click="openBookListModal('legacy')"><i
          class="icon ion-ios-bookmarks-outline"></i>{{"books" | translate}}</a>
      </div>
      <ion-item ng-repeat="helper in HELPER.legacy" class="item item-icon-left" type="item-text-wrap" ng-click="openArticleModal('{{helper.slug}}')">
        <h2>{{helper.title}}</h2>
        <i class="icon ion-ios-book-outline"></i>
      </ion-item>
    </div>

    <div class="list card">
      <div class="sectionTitle item">重构</div>
      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" href="#/app/day/6" ng-click="openDescModal('refactor')"><i
          class="icon ion-ios-information-outline"></i>{{"info" | translate}}</a> |
        <a class="tab-item" href="#/app/day/6" ng-click="openBookListModal('refactor')"><i
          class="icon ion-ios-bookmarks-outline"></i>{{"books" | translate}}</a> |
        <a class="tab-item" href="#/app/day/6" ng-click="openSpecialModal('refactor', 'growth')"><i
          class="icon ion-ios-color-filter-outline"></i>Growth</a>
      </div>

      <ion-item ng-repeat="helper in HELPER.refactor" class="item item-icon-left" type="item-text-wrap" ng-click="openArticleModal('{{helper.slug}}')">
        <h2>{{helper.title}}</h2>
        <i class="icon ion-ios-book-outline"></i>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
