<ion-view view-title="回顾与新架构">
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-ios-information-outline" ng-click='openIntroModal(7)'></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card">
      <div class="sectionTitle item">回顾与总结</div>
      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" href="#/app/day/7" ng-click="openSpecialModal('retro', 'desc')"><i class="icon ion-ios-information-outline"></i>简介</a>
        <a class="tab-item" href="#/app/day/7" ng-click="openSpecialModal('retro', 'tool')"><i class="icon ion-ios-bookmarks-outline"></i>工具</a>
        <a class="tab-item" href="#/app/day/7" ng-click="openTodoModal('retro')"><i class="icon ion-ios-paper-outline"></i>TODO</a>
      </div>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/summary">
        <h2>总结——为了更快的成长</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/retro">
        <h2>回顾与改进</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </div>

    <div class="list card">
      <div class="sectionTitle item">架构设计</div>
      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" href="#/app/day/7" ng-click="openSpecialModal('arch', 'desc')"><i class="icon ion-ios-information-outline"></i>简介</a>
        <a class="tab-item" href="#/app/day/7" ng-click="openSpecialModal('arch', 'book')"><i class="icon ion-ios-bookmarks-outline"></i>书单</a>
        <a class="tab-item" href="#/app/day/7" ng-click="openSpecialModal('arch', 'tree')"><i class="icon ion-ios-paper-outline"></i>Growth</a>
      </div>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/emergent-design">
        <h2>浮现式设计</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/arch-pattern">
        <h2>架构模式</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/article/architecture">
        <h2>每个人都是架构师</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
