<ion-view cache-view="true" view-title="{{ 'day7' | translate}}">
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-ios-information-outline" ng-click='openIntroModal(7)'></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card">
      <div class="sectionTitle item">回顾与总结</div>
      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" href="#/app/day/7" ng-click="openDescModal('retro')"><i class="icon ion-ios-information-outline"></i>{{"info" | translate}}</a> |
        <a class="tab-item" href="#/app/day/7" ng-click="openToolModal('retro')"><i class="icon ion-ios-briefcase-outline"></i>{{"tool" | translate}}</a> |
        <a class="tab-item" href="#/app/day/7" ng-click="openTodoModal('retro')"><i class="icon ion-ios-paper-outline"></i>TODO</a>
      </div>

      <ion-item ng-repeat="helper in HELPER.retro" class="item item-icon-left" type="item-text-wrap" ng-click="openArticleModal('{{helper.slug}}')">
        <h2>{{helper.title}}</h2>
        <i class="icon ion-ios-book-outline"></i>
      </ion-item>
    </div>

    <div class="list card">
      <div class="sectionTitle item">架构设计</div>
      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <a class="tab-item" href="#/app/day/7" ng-click="openDescModal('arch')"><i class="icon ion-ios-information-outline"></i>{{"info" | translate}}</a> |
        <a class="tab-item" href="#/app/day/7" ng-click="openBookListModal('arch')"><i class="icon ion-ios-bookmarks-outline"></i>{{"books" | translate}}</a> |
        <a class="tab-item" href="#/app/day/7" ng-click="openTodoModal('arch')"><i class="icon ion-ios-paper-outline"></i>TODO</a>
      </div>

      <ion-item ng-repeat="helper in HELPER.arch" class="item item-icon-left" type="item-text-wrap" ng-click="openArticleModal('{{helper.slug}}')">
        <h2>{{helper.title}}</h2>
        <i class="icon ion-ios-book-outline"></i>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
