<div class="intro">
  <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close">关闭</span></div>
  <div class="analytics">
    <a class="button button-icon ion-ios-toggle-outline"></a>
    <a class="button button-icon ion-ios-analytics-outline"></a>
  </div>
  <content has-header="true" padding="true">
    <div class="title"><img class="title-image full-image" src="img/guide.jpg"/></div>
    <div class="list card days">
      <ion-item  class="item item-icon-right"><i class="icon ion-ios-arrow-right"></i>{{"day1" | translate}}</ion-item>
      <ion-item  class="item item-icon-right hide-item"><i class="icon ion-ios-arrow-right"></i>{{"day2" | translate}}</ion-item>
      <ion-item  class="item item-icon-right hide-item"><i class="icon ion-ios-arrow-right"></i>{{"day3" | translate}}</ion-item>
      <ion-item  class="item item-icon-right hide-item"><i class="icon ion-ios-arrow-right"></i>{{"day4" | translate}}</ion-item>
      <ion-item  class="item item-icon-right hide-item"><i class="icon ion-ios-arrow-right"></i>{{"day5" | translate}}</ion-item>
      <ion-item  class="item item-icon-right hide-item"><i class="icon ion-ios-arrow-right"></i>{{"day6" | translate}}</ion-item>
      <ion-item  class="item item-icon-right hide-item"><i class="icon ion-ios-arrow-right"></i>{{"day7" | translate}}</ion-item>
    </div>
  </content>
</div>
