<div class="intro">
  <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close">关闭</span></div>
  <div class="analytics">
    <a class="button button-icon ion-ios-analytics-outline"></a>
  </div>
  <content has-header="true" padding="true">
    <div class="title"><img class="title-image full-image" src="img/guide.jpg"/></div>
    <div class="list card days">
      <ion-item class="item item-icon-left"><i class="icon ion-ios-heart"></i>第一日: 从零开始</ion-item>
      <ion-item class="item item-icon-left hide-item"><i class="icon ion-ios-star"></i>第二日: 编码</ion-item>
      <ion-item class="item item-icon-left hide-item"><i class="icon ion-ios-star"></i>第三日: 上线</ion-item>
      <ion-item class="item item-icon-left hide-item"><i class="icon ion-ios-star"></i>第四日: 数据分析</ion-item>
      <ion-item class="item item-icon-left hide-item"><i class="icon ion-ios-star-half"></i>第五日: 持续交付
      </ion-item>
      <ion-item class="item item-icon-left hide-item"><i class="icon ion-ios-star-outline"></i>第六日: 遗留系统
      </ion-item>
      <ion-item  class="item item-icon-left hide-item"><i class="icon ion-ios-star"></i>第七日: 回顾与新架构</ion-item>
    </div>
  </content>
</div>
