<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">{{"info" | translate}}</h1>
    <button class="button button-clear button-primary" ng-click="closeSpecialModal()">关闭</button>
  </ion-header-bar>
  <ion-content class="padding">
    <marked>
      Retro四个维度:

      1. Well.
      2. Less Well.
      3. Suggestion
      4. Action

      该模式的特点是会让我们更多的关注less well，关注我们做的不好的那些。

      ![Retro](img/day7/happy-retro.jpg)
    </marked>
  </ion-content>
</ion-modal-view>
