<ion-header>
  <ion-navbar>
    <ion-title>
      练手项目
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="toolbox-list">
  <ion-item-group *ngFor="let domainProject of domainProjects">
    <ion-item-divider light>
      <span class="title">{{domainProject.name}}</span>
    </ion-item-divider>
    <ion-list>
      <button ion-item *ngFor="let subdomain of domainProject.subdomains" (click)="openProjectDetailPage(subdomain)">
        {{subdomain.name}}
        <ion-icon name="arrow-right" item-right></ion-icon>
      </button>
    </ion-list>
  </ion-item-group>
</ion-content>
