.svg-explore-1-1 {
	background: url("svg/sprite.css.svg") 99.86974789915966% 48.78048780487805% no-repeat;
}

.svg-explore-1-1-dims {
	width: 100px;
	height: 100px;
}

.svg-explore-1-2 {
	background: url("svg/sprite.css.svg") 21.008403361344538% 75.54634146341463% no-repeat;
}

.svg-explore-1-2-dims {
	width: 100px;
	height: 100px;
}

.svg-explore-1-3 {
	background: url("svg/sprite.css.svg") 99.86974789915966% 73.17073170731707% no-repeat;
}

.svg-explore-1-3-dims {
	width: 100px;
	height: 100px;
}

.svg-explore-1-4 {
	background: url("svg/sprite.css.svg") 0 26.765853658536585% no-repeat;
}

.svg-explore-1-4-dims {
	width: 100px;
	height: 100px;
}

.svg-explore-2-1 {
	background: url("svg/sprite.css.svg") 21.008403361344538% 26.765853658536585% no-repeat;
}

.svg-explore-2-1-dims {
	width: 100px;
	height: 100px;
}

.svg-explore-2-2 {
	background: url("svg/sprite.css.svg") 57.85294117647059% 0 no-repeat;
}

.svg-explore-2-2-dims {
	width: 100px;
	height: 100px;
}

.svg-explore-2-3 {
	background: url("svg/sprite.css.svg") 57.85294117647059% 24.390243902439025% no-repeat;
}

.svg-explore-2-3-dims {
	width: 100px;
	height: 100px;
}

.svg-explore-2-4 {
	background: url("svg/sprite.css.svg") 0 51.15609756097561% no-repeat;
}

.svg-explore-2-4-dims {
	width: 100px;
	height: 100px;
}

.svg-explore-2-5 {
	background: url("svg/sprite.css.svg") 21.008403361344538% 51.15609756097561% no-repeat;
}

.svg-explore-2-5-dims {
	width: 100px;
	height: 100px;
}

.svg-explore-2-6 {
	background: url("svg/sprite.css.svg") 42.016806722689076% 51.15609756097561% no-repeat;
}

.svg-explore-2-6-dims {
	width: 100px;
	height: 100px;
}

.svg-home-1 {
	background: url("svg/sprite.css.svg") 78.86134453781513% 0 no-repeat;
}

.svg-home-1-dims {
	width: 100px;
	height: 100px;
}

.svg-home-2 {
	background: url("svg/sprite.css.svg") 78.86134453781513% 24.390243902439025% no-repeat;
}

.svg-home-2-dims {
	width: 100px;
	height: 100px;
}

.svg-home-3 {
	background: url("svg/sprite.css.svg") 78.86134453781513% 48.78048780487805% no-repeat;
}

.svg-home-3-dims {
	width: 100px;
	height: 100px;
}

.svg-home-4 {
	background: url("svg/sprite.css.svg") 0 75.54634146341463% no-repeat;
}

.svg-home-4-dims {
	width: 100px;
	height: 100px;
}

.svg-home-5 {
	background: url("svg/sprite.css.svg") 36.84453781512605% 0 no-repeat;
}

.svg-home-5-dims {
	width: 100px;
	height: 100px;
}

.svg-home-6 {
	background: url("svg/sprite.css.svg") 42.016806722689076% 75.54634146341463% no-repeat;
}

.svg-home-6-dims {
	width: 100px;
	height: 100px;
}

.svg-home-7 {
	background: url("svg/sprite.css.svg") 63.02521008403362% 75.54634146341463% no-repeat;
}

.svg-home-7-dims {
	width: 100px;
	height: 100px;
}

.svg-home-8 {
	background: url("svg/sprite.css.svg") 99.86974789915966% 0 no-repeat;
}

.svg-home-8-dims {
	width: 100px;
	height: 100px;
}

.svg-icon-arrow-left {
	background: url("svg/sprite.css.svg") 43.10742277547257% 25.054794520547944% no-repeat;
}

.svg-icon-arrow-left-dims {
	width: 33.75px;
	height: 72px;
}

.svg-icon-arrow-right {
	background: url("svg/sprite.css.svg") 36.88335638543107% 25.054794520547944% no-repeat;
}

.svg-icon-arrow-right-dims {
	width: 33.75px;
	height: 72px;
}

.svg-icon-bookmark {
	background: url("svg/sprite.css.svg") 0 0 no-repeat;
}

.svg-icon-bookmark-dims {
	width: 73.38px;
	height: 109.74px;
}

.svg-icon-compass {
	background: url("svg/sprite.css.svg") 0 99.93658536585366% no-repeat;
}

.svg-icon-compass-dims {
	width: 100px;
	height: 100px;
}

.svg-icon-get {
	background: url("svg/sprite.css.svg") 61.44896663321112% 97.04649345112622% no-repeat;
}

.svg-icon-get-dims {
	width: 87.79px;
	height: 87.79px;
}

.svg-icon-graowth {
	background: url("svg/sprite.css.svg") 21.008403361344538% 99.93658536585366% no-repeat;
}

.svg-icon-graowth-dims {
	width: 100px;
	height: 100px;
}

.svg-icon-graphic {
	background: url("svg/sprite.css.svg") 15.481012658227849% 0 no-repeat;
}

.svg-icon-graphic-dims {
	width: 102px;
	height: 100px;
}

.svg-icon-list {
	background: url("svg/sprite.css.svg") 36.44514095158263% 37.645255504691676% no-repeat;
}

.svg-icon-list-dims {
	width: 27.23px;
	height: 27.23px;
}

.svg-icon-more {
	background: url("svg/sprite.css.svg") 99.86974789915966% 24.390243902439025% no-repeat;
}

.svg-icon-more-dims {
	width: 100px;
	height: 100px;
}

.svg-icon-social {
	background: url("svg/sprite.css.svg") 42.016806722689076% 99.93658536585366% no-repeat;
}

.svg-icon-social-dims {
	width: 100px;
	height: 100px;
}

