.main .title {
  width: 100%;
  height: auto;
}

.home-slide {
  color: #fff;
  height: 180px;

  h2 {
    font-size: 1.2em;
  }
  p {
    font-size: 0.8em;
    color: #fff;
    padding: 0 2em;
  }

  .slide0,  .slide1,  .slide2 {
    background-color: $growth-color;
    color: #ecf0f1;
  }

  .slide1{
    background-color: $growth-blue;
  }
  .slide2{
    background-color: #009688;
  }

}
