<ion-header>
  <ion-toolbar>
    <ion-title>
      {{pageTitle}}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span primary hideWhen="android">关闭</span>
        <ion-icon name="md-close" showWhen="android"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="isArticle">
      <button ion-button (click)="toggleBookmark()">
        <ion-icon *ngIf="isAlreadyInBookmarksList" name="ios-bookmark"></ion-icon>
        <ion-icon [hidden]="isAlreadyInBookmarksList" name="ios-bookmark-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="has-header" padding>
  <div class="markdown" [innerHTML]="html | sanitizeHtml"></div>
</ion-content>
