// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/main/main";

@import "../modals/HtmlModal/index";
@import "../modals/SkillModal/index";

@import "./third-partys/markdown";
@import "./third-partys/highlight";
@import "layout";

@import "../pages/more/index";
@import "../pages/solution/index";
@import "../pages/discover/exam/index";
@import "../pages/discover/community/index";
@import "../pages/analytics/index";
@import "../pages/discover/index";
@import "../pages/day/index";

tabbar,
.toolbar-background {
  background: $growth-color;
}

tabbar ion-icon,
tabbar span,
.toolbar-title {
  color: #fff;
}

.day .item .item-inner {
  border: none;
}

rating {
  float: right;

  ion-icon {
    color: #ffc107;
    font-size: 30px;
  }
}

.skill-modal ion-content,
.todo-modal ion-content,
ion-content {
  background-color: $growth-background;
}

ion-modal {
  .html-modal ion-content {
    background-color: #fff;
  }
}
