// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/main/main";

@import "../components/HtmlModal/index";

@import "markdown";
@import "layout";

@import "../pages/more/index";
@import "../pages/solution/index";
@import "../pages/exam/index";
@import "../pages/community/index";
@import "../pages/day/index";

tabbar,
.toolbar-background {
  background: #5e6772;
}

tabbar ion-icon,
tabbar span,
.toolbar-title {
  color: #fff;
}

.day .item .item-inner {
  border: none;
}
