.bar-button-default {
  color: #ffffff;
}

.segment-button {
  color: #fff;
  border-color: #fff;
}

ion-tabbar {
  background: #5e6772;

  .tab-button {
    color: #ccc;
  }

  .tab-button:hover:not(.disable-hover), .tab-button[aria-selected=true] {
    color: #fff;
  }
}

h1[primary], h2[primary], h3[primary], h4[primary], h5[primary], h6[primary], p[primary], span[primary], a:not([button])[primary], small[primary], b[primary], i[primary], strong[primary], em[primary], sub[primary], sup[primary], ion-icon[primary] {
  color: #fff;
}


.button.activated {
  background: none;
}
