<ion-header>
  <ion-navbar>
    <ion-title>
      推荐文章列表
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="recommend-books">
  <ion-item-group *ngFor="let domainArticles of helpArticles">
    <ion-item-divider light>
      <span class="title">{{getDomainName(domainArticles.domain)}}</span>
    </ion-item-divider>
    <ion-item *ngFor="let article of domainArticles.value" (click)="presentHtmlModal({slug: article.slug})">
      {{article.title}}
    </ion-item>
  </ion-item-group>
</ion-content>
