<ion-view view-title=''{{"architecture-design" | translate}}''>
  <ion-content>
    <div class="list card">
      <div class="item item-divider">
        {{"basic" | translate}}
      </div>
      <div class="items item-body">
        <ul>
          <li>{{"agile-development" | translate}}</li>
          <li>{{"heads-first-pattern" | translate}}</li>
          <li>{{"design-patterns" | translate}}</li>
        </ul>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">
        {{"intermediate" | translate}}
      </div>
      <div class="items item-body">
        <ul>
          <li>{{"unix-programming" | translate}}</li>
          <li>{{"api-design" | translate}}</li>
          <li>{{"domain-language" | translate}}</li>
          <li>{{"enterprise-pattern" | translate}}</li>
        </ul>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">
        {{"advanced" | translate}}
      </div>
      <div class="items item-body">
        <ul>
          <li>{{"design-deploy" | translate}}</li>
          <li>{{"domain-driven" | translate}}</li>
          <li>{{"enterprise-integration" | translate}}</li>
          <li>{{"beautiful-architecture" | translate}}</li>
          <li>{{"patterns-oriented" | translate}}</li>
        </ul>
      </div>
    </div>

  </ion-content>
</ion-view>
