<ion-view view-title="架构与设计">
  <ion-content>
    <div class="list card">
      <div class="item item-divider">
        基础篇
      </div>
      <div class="items item-body">
        <marked>
          - 《敏捷软件开发：原则、实践与模式》
          - 《深入浅出设计模式》
          - 《设计模式》
        </marked>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">
        进阶篇
      </div>
      <div class="items item-body">
        <marked>
          - 《Unix编程艺术》
          - 《框架设计的艺术》
          - 《领域特定语言》
          - 《企业应用架构模式》
        </marked>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">
        高级篇
      </div>
      <div class="items item-body">
        <marked>
          - 《发布!软件的设计与部署》
          - 《领域驱动设计》
          - 《企业集成模式》
          - 《架构之美》
          - 《面向模式的软件架构》
        </marked>
      </div>
    </div>

  </ion-content>
</ion-view>
