<ion-view view-title="架构与设计">
  <ion-content>
    <div class="list card">
      <div class="item item-divider">
        基础篇
      </div>
      <div class="items item-body">
        <marked>
          - Agile Software Development 《敏捷软件开发：原则、实践与模式》
          - Head First Design Patterns《深入浅出设计模式》
          - Design Patterns 《设计模式》
        </marked>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">
        进阶篇
      </div>
      <div class="items item-body">
        <marked>
          - The Art of UNIX Programming 《Unix编程艺术》
          - Practical API Design 《框架设计的艺术》
          - Domain Specific Languages 《领域特定语言》
          - Patterns of Enterprise Application Architecture 《企业应用架构模式》
        </marked>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">
        高级篇
      </div>
      <div class="items item-body">
        <marked>
          - Release It 《发布!软件的设计与部署》
          - Domain-Driven Design 《领域驱动设计》
          - Enterprise Integration Patterns《企业集成模式》
          - Beautiful Architecture《架构之美》
          - Pattern-Oriented Software Architecture《面向模式的软件架构》
        </marked>
      </div>
    </div>

  </ion-content>
</ion-view>
