<ion-view view-title="前端篇">
  <ion-content>
    <div class="list card">
      <div class="item item-divider">
        基础篇
      </div>
      <div class="items item-body">
        <marked>
          《JavaScript高级程序设计》
          ---
          > 将对JavaScript追根溯源，从它在最早的Netscape浏览器中诞生谈起，一直谈到今天的它对DOM和AjaX的强大支持。读者将通过《JavaScript高级程序设计(第3版)》掌握如何运用和扩展这门语言，从而更好地满足自己的需求，以及如何实现客户端与服务器的无缝通信，而又不必求助于Java或隐藏的网页框架（frame元素）。

          《JavaScript DOM编程艺术》
          ---
          > 在简洁明快地讲述JavaScript和DOM的基本知识之后，通过几个实例演示了专业水准的网页开发技术，透彻阐述了平稳退化等一批至关重要的JavaScript编程原则和实践，并全面探讨了HTML5以及jQuery等JavaScript库。

          《CSS权威指南》
          ---
          > 这本书提供了对CSS 1和CSS定位的完整的描述，同时也给出了CSS2的概述。书中对CSS的每个属性都做了详细的探究，同时讨论了各个属性之间如何协调、以及怎样避免一些常见错误。

        </marked>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">
        中高级篇
      </div>
      <div class="items item-body">
        <marked>
          《JavaScript语言精粹》
          ---
          > 您将会发现一门美丽的、优雅的、轻量级的和非常富有表现力的语言，它使您创建高效的代码，不管您编写代码的目的是管理对象库还是仅仅使Ajax运行得更快。


          《基于MVC的JavaScript Web富应用开发》
          ---
          > 这本所涵盖的知识点非常全面，从MVC的基本理论到网络协议、模块解耦到异步编程模型、HTML5/CSS3到NodeJS、软件测试到部署调试。对于很多前端工程师来说，这些知识正是突破自己的瓶颈所亟需的。

          《JavaScript 框架设计》
          ---
          > 详细地讲解了设计框架需要具备的知识，主要包括的内容为：框架与库、JavaScript框架分类、JavaScript框架的主要功能、种子模块、模块加载系统、语言模块、浏览器嗅探与特征侦测、样式的支持侦测、类工厂、JavaScript对类的支撑...

          《单页Web应用: JavaScript从前端到后端》
          ---
          > 本书展示了从前端到后端都使用JavaScript来开发复杂的单页Web应用，你的团队能够很容易地进行设计、测试、维护和扩展，不会受到某个框架的限制。
        </marked>
      </div>
    </div>

  </ion-content>
</ion-view>
