<ion-view view-title="前端篇">
  <ion-content>
    <div class="list card">
      <div class="item item-divider">
        基础篇
      </div>
      <div class="items item-body">
        <marked>
          - 《JavaScript高级程序设计》
          - 《DOM启蒙》
          - 《CSS权威指南》
        </marked>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">
        中高级篇
      </div>
      <div class="items item-body">
        <marked>
          - 《JavaScript语言精粹》
          - 《单页Web应用: JavaScript从前端到后端》
          - 《基于MVC的JavaScript Web富应用开发》
          - 《JavaScript 框架设计》
        </marked>
      </div>
    </div>

  </ion-content>
</ion-view>
