<ion-view view-title="{{'methodology' | translate}}">
  <ion-content>
    <div class="list card">
      <div class="item item-divider">
        {{"basic" | translate}}
      </div>
      <div class="items item-body">
        <ul>
          <li>{{"story-agile" | translate}}</li>
          <li>{{"gold-mine" | translate}}</li>
          <li>{{"scrum-xp" | translate}}</li>
          <li>{{"continuous-integration" | translate}}</li>
        </ul>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">
        {{"intermediate" | translate}}
      </div>
      <div class="items item-body">
        <ul>
          <li>{{"lean-thinking" | translate}}</li>
          <li>{{"continuous-delivery" | translate}}</li>
          <li>{{"google-test" | translate}}</li>
          <li>{{"agile-test" | translate}}</li>
          <li>{{"extreme-refactor" | translate}}</li>
        </ul>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">
        {{"advanced" | translate}}
      </div>
      <div class="items item-body">
        <ul>
          <li>{{"spec-example" | translate}}</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
