<ion-view view-title="方法学">
  <ion-content>
    <div class="list card">
      <div class="item item-divider">
        基础篇
      </div>
      <div class="items markdown-body">
        <marked>
          - User Stories Applied《用户故事与敏捷方法》
          - The Gold Mine《金矿》
          - Scrum and XP From the Trenches《硝烟中的Scrum和XP》
          - Continuous Integration《持续集成》
        </marked>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">
        进阶篇
      </div>
      <div class="items markdown-body">
        <marked>
          - Lean Thinking《精益思想》
          - Continuous Delivery《持续交付》
          - How Google Tests Software
          - Agile Testing 《敏捷软件测试》
          - Extreme Programming Refactored《重构极限编程》
        </marked>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">
        高级篇
      </div>
      <div class="items markdown-body">
        <marked>
          ##高级篇##

          - Specification By Example 《实例化需求》
        </marked>
      </div>
    </div>
  </ion-content>
</ion-view>
