<ion-view view-title="方法学">
  <ion-content>
    <div class="list card">
      <div class="item item-divider">
        基础篇
      </div>
      <div class="items item-body">
        <marked>
          - 《用户故事与敏捷方法》
          - 《金矿》
          - 《硝烟中的Scrum和XP》
          - 《持续集成》
        </marked>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">
        进阶篇
      </div>
      <div class="items item-body">
        <marked>
          - 《精益思想》
          - 《持续交付》
          - 《Google软件测试之道》
          - 《敏捷软件测试》
          - 《重构极限编程》
        </marked>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">
        高级篇
      </div>
      <div class="items item-body">
        <marked>
          - 《实例化需求》
        </marked>
      </div>
    </div>
  </ion-content>
</ion-view>
