<ion-view view-title="编程实践">
  <ion-content>
    <div class="list card">
      <div class="item item-divider">
        基础篇
      </div>
      <div class="items markdown-body" data-tap-disabled=true>
        <marked>
          - Clean Code《代码整洁之道》
          - Pragmatic Unit Testing《单元测试之道》
          - The Productive Programmer《卓有成效的程序员》
          - Test-Driven Development By Example《测试驱动开发》
          - Clean Coder《程序员的职业修养》
          - The Art of Readable Code《编写可读代码的艺术》
        </marked>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">
        进阶篇
      </div>
      <div class="items markdown-body" data-tap-disabled=true>
        <marked>
          - Refactoring To Patterns《重构与模式》
          - Implementation Patterns《实现模式》
          - Code Complete《代码大全》
          - The Pragmatic Programmer《程序员修炼之道》
        </marked>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">
        高级篇
      </div>
      <div class="items markdown-body" data-tap-disabled=true>
        <marked>
          ##高级篇##

          - Structure and Interpretation of Computer Programs《计算机程序的构造和解释》
          - Working Effectively with Legacy Code《修改代码的艺术》
        </marked>
      </div>
    </div>

  </ion-content>
</ion-view>
