<ion-view view-title="{{'practical-programming' | translate}}">
  <ion-content>
    <div class="list card">
      <div class="item item-divider">
        {{"basic" | translate}}
      </div>
      <div class="items item-body" data-tap-disabled=true>
        <ul>
          <li>{{"clean-code" | translate}}</li>
          <li>{{"unit-test" | translate}}</li>
          <li>{{"productive-programmer" | translate}}</li>
          <li>{{"test-driven" | translate}}</li>
          <li>{{"clean-coder" | translate}}</li>
          <li>{{"readable-code" | translate}}</li>
        </ul>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">
        {{"intermediate" | translate}}
      </div>
      <div class="items item-body" data-tap-disabled=true>
        <ul>
          <li>{{"refactoring-patterns" | translate}}</li>
          <li>{{"implementation-patterns" | translate}}</li>
          <li>{{"code-complete" | translate}}</li>
          <li>{{"pragmatic-programmer" | translate}}</li>
        </ul>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">
        {{"advanced" | translate}}
      </div>
      <div class="items item-body" data-tap-disabled=true>
        <ul>
          <li>{{"sicp" | translate}}</li>
          <li>{{"legacy-code" | translate}}</li>
        </ul>
      </div>
    </div>

  </ion-content>
</ion-view>
