<ion-view view-title="思想与领导力">
  <ion-content>
    <div class="list card">
      <div class="item item-divider">
        基础篇
      </div>
      <div class="items item-body">
        <marked>
          - 《卓有成效的管理者》
          - 《你的灯亮着吗》
          - 《成为技术领导者》
        </marked>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">
        进阶篇
      </div>
      <div class="items item-body">
        <marked>
          - 《第五项修炼》
          - 《商业设计:通过设计思维构建公司持续竞争优势》
          - 《管理3.0：培养和提升敏捷领导力》
          - Presentation To Win
          - 《麦肯锡方法》
        </marked>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">
        高级篇
      </div>
      <div class="items item-body">
        <marked>
          - 《思考快与慢》
        </marked>
      </div>
    </div>

  </ion-content>
</ion-view>
