<ion-view view-title="{{ 'leadership' | translate}}">
  <ion-content>
    <div class="list card">
      <div class="item item-divider">
        {{"basic" | translate}}
      </div>
      <div class="items item-body">
        <ul>
          <li>{{"effective-executive" | translate}}</li>
          <li>{{"light-on" | translate}}</li>
          <li>{{"technical-leader" | translate}}</li>
        </ul>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">
        {{"intermediate" | translate}}
      </div>
      <div class="items item-body">
        <ul>
          <li>{{"fifth-discipline" | translate}}</li>
          <li>{{"design-business" | translate}}</li>
          <li>{{"management-3-0" | translate}}</li>
          <li>{{"presentation" | translate}}</li>
          <li>{{"mckinsey-way" | translate}}</li>
        </ul>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">
        {{"advanced" | translate}}
      </div>
      <div class="items item-body">
        <ul>
          <li>{{"thinking-fast-slow" | translate}}</li>
        </ul>
      </div>
    </div>

  </ion-content>
</ion-view>
