<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">{{"tool" | translate}}&{{"books" | translate}}</h1>
    <button class="button button-clear button-primary" ng-click="closeSpecialModal()">关闭</button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list">
      <marked>
        - 《配置管理最佳实践》

        Node.js
        ---
        - config. Configuration control for production node deployments

        Java
        ---
        - Togglz. Features flag for Java
        - ff4j. Feature Flipping 4 JAVA
      </marked>
    </div>
  </ion-content>
</ion-modal-view>
