<ion-header>
  <ion-navbar>
    <ion-title>
      社区交流
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="community">
  <ion-list class="topics">
    <ion-item class="item-avatar" *ngFor="let topic of topics" (click)="openDetailPage(topic.id)">
      <div class="topic-detail">
        <h2>{{topic.attributes.title}}</h2>
        <p class="summary">
          <span *ngIf="topic.attributes.isSticky" class="tab hl">置顶</span>
          <span class="author">{{getAuthorName(included, topic.relationships.startUser.data)}}</span>
          <span><ion-icon name="ios-chatboxes-outline"></ion-icon>{{topic.attributes.commentsCount - 1}}</span>
          <span class="item-note ago"><time>{{topic.attributes.lastTime | amTimeAgo}}</time></span>
        </p>
      </div>
    </ion-item>

    <ion-infinite-scroll *ngIf="!!nextPageUrl" (ionInfinite)="doInfinite($event, nextPageUrl)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="加载更多数据...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
</ion-content>
