<ion-view view-title="成就">
  <ion-content>
    <ion-item ng-show="achievements" ng-repeat="achievement in achievements">{{achievement}}</ion-item>
    <div ng-show="achievements.length === 0">
      <div class="sectionTitle">快去完成一些TODO事项</div>
      <div class="sectionTitle">使用指南</div>
      <marked>
        在主视图进入:

        ![roadmap](./img/help/roadmap.jpg)

        在每个Card中会包含如下的Todo List:

        ![todo](./img/help/todo.jpg)

        向左滑动即可以完成这个事项。

      </marked>
    </div>
  </ion-content>
</ion-view>
