<ion-view view-title="算一算">
  <ion-content>
    <div class="list card">
      <div class="sectionTitle item">小结</div>
      <div class="item item-body">
        {{finallyWords}}
      </div>
    </div>

    <h1 class="sectionTitle">建议</h1>
    <div class="list card" ng-repeat="improve in improves">
      <div class="sectionTitle item">{{improve.zh}}</div>
      <ion-item class="item item-icon-left" type="item-text-wrap" ng-repeat="todo in improve.basic">
        <h2>{{todo.title}}</h2>
        <i class="icon ion-ios-paper-outline"></i>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
