<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">GET新技能</h1>
    <button class="button button-clear button-primary" ng-click="closeSpecialModal()">关闭</button>
  </ion-header-bar>
  <ion-content>
    <ion-checkbox ng-model="isCssChecked">CSS</ion-checkbox>
    <ion-checkbox ng-model="isHtmlChecked">HTML</ion-checkbox>
    <ion-checkbox ng-model="isJavaScriptChecked">JavaScript</ion-checkbox>
    <ion-checkbox ng-model="isNodeChecked">Node.js</ion-checkbox>
    <button class="button button-full button-positive" ng-click="check()">Done</button>
  </ion-content>
</ion-modal-view>
