<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">GET新技能</h1>
    <button class="button button-clear button-primary" ng-click="closeSpecialModal()">关闭</button>
  </ion-header-bar>
  <ion-content>
    <ion-checkbox ng-repeat="item in devList" ng-model="item.checked" ng-checked="item.checked">
      {{ item.text }}
    </ion-checkbox>
    <button class="button button-full button-positive" ng-click="submitSkill()">Done</button>
  </ion-content>
</ion-modal-view>
