<ion-view view-title="{{'skillmap' | translate }}">
  <ion-nav-buttons side="right">
    <button class="button text-center ratingsCount" ng-show="!isInfinite" ng-click='openSkillsModal()'>{{ratings}}</button>
    <button class="button button-icon ion-ios-infinite-outline" ng-show="isInfinite" ng-click='openSkillsModal()'></button>
  </ion-nav-buttons>
  <ion-content>
    <div ng-show="!showSkillMap">
      <h1 class="sectionTitle">快去GET你的技能吧!</h1>
      <marked>
        ![day](./img/help/day.jpg)

        2.GET技能。用于构建技能图谱、提供成长指南。
      </marked>
    </div>
    <ion-slide-box>
      <ion-slide>
        <div id="skills" ng-show="showSkillMap">
          <div id="skillmap">
            <div class="skills-wrapper">
              <div class="skills-sunburst"></div>
              <div class="skills-chart">
                <div id="skills-chart-breadcrumb"></div>
              </div>
            </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div id="skillBubble" ng-show="showSkillMap"></div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-stable">
    <div class="buttons">
      <a class="button button-dark red-button" href="#/app/ai">算一算</a>
    </div>
    <h1 class="title"></h1>
    <div class="buttons" ng-click="doSomething()">
      <a class="button button-dark red-button" href="#/app/achievement">成就</a>
    </div>
  </ion-footer-bar>
</ion-view>
