<ion-header>
  <ion-toolbar>
    <ion-title>
      Todo
    </ion-title>
    <ion-buttons start>
      <button (click)="dismiss()">
        <span primary hideWhen="android">关闭</span>
        <ion-icon name="md-close" showWhen="android"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
  <ion-list showWhen="android">
    <ion-item-sliding *ngFor="let todo of todoLists">
      <ion-item>
        <ion-label>{{todo.title}}</ion-label>
        <ion-checkbox [(ngModel)]="todo.checked" dark checked="true"></ion-checkbox>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <ion-list showWhen="ios">
    <ion-item-sliding *ngFor="let todo of todoLists">
      <ion-item>
        {{todo.title}}
      </ion-item>
      <ion-item-options>
        <button danger (click)="removeItem(todo)"><ion-icon name="checkbox"></ion-icon>Done</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
