<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <button class="button button-clear button-icon ion-ios-close-empty" ng-click="closeSpecialModal()"></button>
    <h1 class="title">{{"books" | translate}}</h1>
  </ion-header-bar>
  <ion-content>
    <ion-item ng-repeat="book in books" class="item item-icon-right" type="item-text-wrap" ng-click="openBookModal('{{book.slug}}')">
      <h2>{{book.title}}</h2>
      <i class="icon ion-ios-book-outline"></i>
    </ion-item>
  </ion-content>
</ion-modal-view>
