<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">TODO</h1>
    <button class="button button-clear button-primary" ng-click="closeSpecialModal()">关闭</button>
  </ion-header-bar>
  <ion-content>
    <ion-list show-delete="false" can-swipe="true">
      <ion-item ng-repeat="todoItem in todoLists" ng-show="todoItem.title">
        {{todoItem.title}}
        <ion-option-button class="button-assertive icon ion-trash-a" ng-click="addTodo(todoItem)"></ion-option-button>
      </ion-item>
    </ion-list>

    <div class="card list" ng-show="doneItems.length > 0">
      <div class="item item-divider item-positive">
        已完成
      </div>
      <ion-item class="item item-icon-right" ng-repeat="doneItem in doneItems">
        <h2>{{doneItem.title}}</h2>
        <i class="icon ion-ios-checkmark-outline" style="color: green"></i>
      </ion-item>
    </div>
  </ion-content>
</ion-modal-view>
