<ion-view view-title="{{'about' | translate }}">
  <ion-content>
    <ion-item class="item-divider">
      作者
    </ion-item>
    <ion-item class="item item-icon-right" type="item-text-wrap" onClick="window.open('https://github.com/phodal', '_system', 'location=yes')">
      {{"git-hub" | translate}}: @Phodal
      <i class="icon ion-social-github"></i>
    </ion-item>
    <ion-item class="item item-icon-right" type="item-text-wrap">
      Weibo: @Phodal
      <i class="icon ion-social-twitter-outline"></i>
    </ion-item>
    <ion-item class="item item-icon-right" type="item-text-wrap">
      知乎: @Phodal
    </ion-item>
    <ion-item class="item item-icon-right" type="item-text-wrap" onClick="window.open('https://www.phodal.com/', '_system', 'location=yes')">
      Blog: https://www.phodal.com/
      <i class="icon ion-social-wordpress-outline"></i>
    </ion-item>
    <ion-item class="item-divider">
      Growth应用
    </ion-item>
    <ion-item class="item item-icon-right" type="item-text-wrap" onClick="window.open('https://github.com/phodal/growth', '_system', 'location=yes')">
      开源
      <i class="icon ion-social-github"></i>
    </ion-item>
    <ion-item class="item-divider">
      社区
    </ion-item>
    <ion-item class="item item-icon-right" type="item-text-wrap">
      {{"qq-group" | translate}}: 529600394
    </ion-item>
    <ion-item class="item item-icon-right" type="item-text-wrap" onClick="window.open('http://forum.growth.ren/', '_system', 'location=yes')">
      论坛: http://forum.growth.ren/
      <i class="icon ion-ios-people-outline"></i>
    </ion-item>
  </ion-content>
</ion-view>
