<ion-view view-title="FAQ">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        为什么没有WP和iOS版?
      </div>
      <div class="item item-text-wrap">
        <div class="markdown-body">
          <marked>
            - 用不起iPhone和iOS开发者帐号
            - 没有Windows机器的电脑(平时用的是公司的电脑)
          </marked>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        我可以复制吗?
      </div>
      <div class="item item-text-wrap">
        <div class="markdown-body">
          <p>想法和代码是可以复制的，但是内容是不行的。</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        为什么APP这么卡？
      </div>
      <div class="item item-text-wrap">
        <div class="markdown-body">
          <p>因为，它是基于Web的混合应用</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
