<ion-view view-title="意见和反馈">
  <ion-content>
    <div class="list card">
      <div class="sectionTitle">交流</div>
      <div class="item item-body">
        <marked>
          QQ交流群: 529600394
          ---
        </marked>
      </div>
    </div>

    <div class="list card">
      <div class="sectionTitle"><a class="button" href="#" onclick="window.open('https://github.com/phodal/growth/issues', '_system', 'location=yes'); return false;">Github Issues</a></div>
      
      <ion-item class="item item-icon-right" ng-show="issues.length === 0">
        <div class="sectionTitle"><ion-spinner></ion-spinner></div>
      </ion-item>

      <ion-item class="item item-icon-right" ng-repeat="issue in issues" type="item-text-wrap" ng-click="OpenIssue(issue.html_url)">
        <h2>{{issue.title}}</h2>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
