<ion-view view-title="{{ 'feedback' | translate }}">
  <ion-content>
    <div class="list card">
      <div class="sectionTitle">帮助Growth更好地成长</div>

      <ion-item class="item item-icon-right" ng-show="issues.length === 0">
        <div class="sectionTitle"><ion-spinner></ion-spinner></div>
      </ion-item>

      <ion-item class="item item-icon-right" ng-repeat="issue in issues" type="item-text-wrap" ng-click="OpenIssue(issue.html_url)">
        <h2>GitHub Issue: {{issue.title}}</h2>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
