<ion-view view-title="{{'more' | translate}}">
  <ion-content class="has-header" on-swipe-right="goBack()" on-swipe-left="goForward()">
    <ion-list>
      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/book">
        <h2>{{"bookroadmap" | translate}}</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/reviews">
        <h2>{{ "reviews" | translate}}</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/articles">
        <h2>{{ "articles" | translate}}</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/todo">
        <h2>{{ "todos" | translate}}</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-left" type="item-text-wrap" href="#/app/about">
        <i class="icon ion-ios-information-outline"></i>
        <h2>{{"about" | translate}}</h2>
      </ion-item>

      <ion-item class="item item-icon-left" type="item-text-wrap" href="#/app/setting">
        <i class="icon ion-ios-cog-outline"></i>
        <h2>{{"setting" | translate}}</h2>
      </ion-item>

      <ion-item class="item item-icon-left" type="item-text-wrap" ng-click="rating()">
        <i class="icon ion-ios-rose-outline"></i>
        <h2>{{"rating" | translate}}</h2>
      </ion-item>

      <ion-item class="item item-icon-left" type="item-text-wrap" ng-click="share()">
        <i class="icon ion-ios-upload-outline"></i>
        <h2>{{"share" | translate}}</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
