<ion-view view-title="{{'setting' | translate}}">
  <ion-content>
    <div class="list">
      <ion-item class="item item-icon-right" type="item-text-wrap" ng-click="update()" ng-show="isAndroid">
        <h2>{{"update" | translate}}</h2>
        <div style="font-size: 10px;">{{"current-version" | translate}} : {{version}}</div>
      </ion-item>
      <label class="item item-input item-select">
        <div class="input-label">
          Language
        </div>
        <select ng-model="optionSelected" ng-change="updateLanguages(optionSelected)">
          <option value="en">English</option>
          <option value="zh-cn">简体中文</option>
        </select>
      </label>
    </div>
  </ion-content>
</ion-view>
