<ion-view view-title="总览">
  <ion-content>
    <!--<div class="card-wrap">-->
      <!--<ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/articles">-->
        <!--<h2>所有文章</h2>-->
        <!--<i class="icon ion-ios-arrow-right"></i>-->
      <!--</ion-item>-->

      <!--<ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/reviews">-->
        <!--<h2>所有书评</h2>-->
        <!--<i class="icon ion-ios-arrow-right"></i>-->
      <!--</ion-item>-->
    <!--</div>-->
    <img src="img/seven.png" class="full-image" alt="">
  </ion-content>
</ion-view>
