<ion-view view-title="{{'solution' | translate }}">
  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-ios-search" ng-click="showFilterBar()">
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header" on-swipe-right="goBack()" on-swipe-left="goForward()">
    <ion-item ng-repeat="solution in solutions" >
      <div class="item">
        <h2>{{solution.name}}</h2>
      </div>

      <div class="item item-body">
        <p>
          {{solution.description}}
        </p>
      </div>
      <div class="item item-divider">
        <a class="subdued" ng-repeat="stack in solution.stacks">{{stack}}</a>
      </div>
    </ion-item>
  </ion-content>
</ion-view>
