<ion-view view-title="{{'solution' | translate }}">
  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card" ng-repeat="solution in solutions">
      <div class="item">
        <h2>{{solution.name}}</h2>
      </div>

      <div class="item item-body">
        <p>
          {{solution.description}}
        </p>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left modals">
        <!--<a class="tab-item" ng-repeat="stack in solution.stacks" href="#/app/stack/{{stack | lowercase}}">{{stack}}</a>-->
        <a class="tab-item" ng-repeat="stack in solution.stacks">{{stack}}</a>
      </div>
    </div>
  </ion-content>
</ion-view>
