.discover {
  ion-label {
    margin: 0;
  }
  .item[detail-push] .item-inner, button.item:not([detail-none]) .item-inner, a.item:not([detail-none]) .item-inner {
    background-image: none;
  }
  .discover-slide {
    color: #fff;
    height: 120px;

    h2 {
      font-size: 1.2em;
    }
    p {
      font-size: 0.8em;
      color: #fff;
      padding: 0 2em;
      text-align: center;
    }
    .slide0, .slide1, .slide2 {
      background-color: $growth-color;
      color: #ecf0f1;
    }

    .slide1 {
      background-color: $growth-blue;
    }
    .slide2 {
      background-color: #009688;
    }
  }

  ion-row {
    flex-wrap: wrap;
    padding: 0 12px 12px 12px;

    ion-col {
      flex: 0 0 32%;
      max-width: 32%;
      text-align: center;
      background: #fff;
    }

    ion-icon {
      width: 32px;
      height: 32px;
      font-size: 30px;
    }

    .item .item-inner,
    .item {
      padding-left: 0;
      padding-right: 0;
      border: none;

      ion-label {
        text-align: center;
      }
    }

    h3 {
      padding: 0.5em 0;
      text-align: center;
    }
  }

  ion-row.zones {
    padding: 0 12px 12px 7px;

    ion-icon {
      padding: 12px 0 12px 0;
    }
    ion-col {
      margin-left: 5px;
      margin-top: 5px;
      padding: 5px 5px;
    }
  }
  ion-row.second {
    text-align: center;
    padding: 12px 12px;

    ion-col {
      flex: 0 0 50%;
      max-width: 50%;
      text-align: center;
      padding: 2px 5px;
    }

    ion-icon {
      font-size: 32px;
      padding: 0 0 0 20px;
    }

    h3 {
      font-size: 18px;
      text-align: left;
      padding-left: 12px;
    }
    .item-inner {
      margin-left: 0;
    }
    ion-col.exam {

    }

    ion-col.community {

    }
  }
}
