.discover {
  ion-label {
    margin: 0;
  }
  .item[detail-push] .item-inner, button.item:not([detail-none]) .item-inner, a.item:not([detail-none]) .item-inner {
    background-image: none;
  }

  ion-row.image-row {
    padding-top: 10px;
    background: none;

    ion-item-divider.sub-title {
      color: $growth-new-color;
      padding: 8px 0 8px 4px;
      background: none;
      border: none;
    }

    img {
      opacity: 1;
    }

    ion-col {
      background: none;
      flex: 0 0 50%;
      max-width: 50%;
      text-align: center;
    }

    ion-card {
      margin: 0;
      background: none;
      position: relative;
      text-align: center;
      width: 100%;
    }

    .card-title {
      background-color: rgba(255, 255, 255, 0.95);
      line-height: 3em;
      position: absolute;
      bottom: 0;
      font-size: 1.2em;
      width: 100%;
      color: #179ed6;
    }
  }

  ion-row {
    flex-wrap: wrap;
    padding: 0 12px 12px 12px;

    ion-col {
      flex: 0 0 50%;
      max-width: 50%;
      text-align: center;
      background: #fff;
    }

    ion-icon {
      width: 32px;
      height: 32px;
      font-size: 30px;
    }

    .item .item-inner,
    .item {
      padding-left: 0;
      padding-right: 0;
      border: none;

      ion-label {
        text-align: center;
      }
    }
  }
}
