<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <button class="button button-clear button-icon ion-ios-arrow-back" ng-click="closeSpecialModal()"></button>
    <h1 class="title">Web框架</h1>
  </ion-header-bar>
  <ion-content class="padding markdown-body">
    <marked>

      Java
      ---
      Spring: TBD

      Python
      ---

      **Django**

      Django是一个MVC框架，然而他更关注于模型（Model）、模板(Template)和视图（Views），称为MTV模式。它的优势：

      - 对象关系映射
      - URL 分派
      - 模版系统
      - 表单处理
      - Cache系统
      - 会话(session)，用户登录与权限检查
      - 国际化
      - 自动化的管理界面

      常用于各种新闻站点及CMS。


      Tornado: 高性能

      Flask: 便捷

      - Flask + Jinja2 + SQLAlchemy
      - Flask + Mako + SLQLAlchemy
      - Flask + Jinja2 + Peewee
      - Flask + CouchDB

      Ruby
      ---

      Ruby On Rails: 全功能

      Sinatra: 小巧

      Scala
      ---
      Play: TBD


      Node.js
      ---
      Express.js: TBD


    </marked>
  </ion-content>
</ion-modal-view>
