page-home {
  .title {
    width: 100%;
    height: auto;
  }

  .day .item.activated {
    background: none;
  }

  ion-row {
    margin-bottom: 10px;
    background: none;
    flex-wrap: wrap;

    ion-col {
      flex: 0 0 100%;
      max-width: 100%;
      text-align: center;
      padding: 0;

      ion-label {
        margin: 0;
      }

      .item-inner {
        padding-right: 0;
      }

      button.item:not([detail-none]) .item-inner {
        padding-right: 0;
        background-image: none;
      }
    }

    .label-md,
    .label-ios {
      margin: 0;
    }

    ion-list {
      ion-icon {
        color: #179ed6;
      }
    }

    ion-list.list-md {
      padding: 0 0 !important;
      margin: 0 10px 0 10px !important;

      border-bottom: 1px solid #dedede;
    }

    ion-list.list-md,
    ion-list.list-ios {
      padding: 0 11px;
      margin: 0 1px 0 1px;
      &:before {
        transition: transform 0.3s ease-in-out;
      }
    }

    ion-card.card-md {
      margin: 10px 10px 1px 10px;
      box-shadow:
        0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }

    ion-card.card-ios {
      margin-bottom: 0;
    }

    ion-card.card-ios {
      border-radius: 6px 6px 0 0;
    }

    .card-title {
      height: 100px;
      width: 100%;

      h2 {
        color: #4D4F50;
        float: left;
        font-size: 1.25em;
        position: relative;
        top: 1.2em;
        display: block;
      }

      p {
        clear: left;
        display: block;
        top: 2em;
        position: relative;
      }
    }
  }
}


.growth-icon {
  background: url("../assets/svg-font/css/svg/sprite.css.svg") 21.008403361344538% 99.93658536585366% no-repeat;
  background-size: auto 520%;
  width: 24px;
  height: 24px;
  color: #222;
}

.home-1 {
  background: url("../assets/svg-font/css/svg/sprite.css.svg") 78.86134453781513% 0 no-repeat;
  width: 98px;
  height: 98px;
  bottom: -2px;
  position: relative;
  float: right;
}

.home-2 {
  background: url("../assets/svg-font/css/svg/sprite.css.svg") 78.86134453781513% 24.390243902439025% no-repeat;
  width: 98px;
  height: 98px;
  bottom: -2px;
  position: relative;
  float: right;
}

.home-3 {
  background: url("../assets/svg-font/css/svg/sprite.css.svg") 78.86134453781513% 48.78048780487805% no-repeat;
  width: 98px;
  height: 98px;
  bottom: -2px;
  position: relative;
  float: right;
}

.home-4 {
  background: url("../assets/svg-font/css/svg/sprite.css.svg") 0 75.54634146341463% no-repeat;
  width: 98px;
  height: 98px;
  bottom: -2px;
  position: relative;
  float: right;
}

.home-5 {
  background: url("../assets/svg-font/css/svg/sprite.css.svg") 36.84453781512605% 0 no-repeat;
  width: 98px;
  height: 98px;
  bottom: -2px;
  position: relative;
  float: right;
}

.home-6 {
  background: url("../assets/svg-font/css/svg/sprite.css.svg") 42.016806722689076% 75.54634146341463% no-repeat;
  width: 98px;
  height: 98px;
  bottom: -2px;
  position: relative;
  float: right;
}

.home-7 {
  background: url("../assets/svg-font/css/svg/sprite.css.svg") 63.02521008403362% 75.54634146341463% no-repeat;
  width: 98px;
  height: 98px;
  bottom: -2px;
  position: relative;
  float: right;
}

.home-8 {
  background: url("../assets/svg-font/css/svg/sprite.css.svg") 99.86974789915966% 0 no-repeat;
  width: 98px;
  height: 98px;
  bottom: -2px;
  position: relative;
  float: right;
}
