<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">{{"books" | translate}}</h1>
    <button class="button button-clear button-primary" ng-click="closeSpecialModal()">关闭</button>
  </ion-header-bar>
  <ion-content>
    <ion-item class="item item-icon-right" type="item-text-wrap" ng-click="openBookModal('http')">
      <h2>《HTTP权威指南》</h2>
      <i class="icon ion-ios-book-outline"></i>
    </ion-item>
    <ion-item class="item item-icon-right" type="item-text-wrap" ng-click="openBookModal('nginx')">
      <h2>《精通Nginx》</h2>
      <i class="icon ion-ios-book-outline"></i>
    </ion-item>
    <ion-item class="item item-icon-right" type="item-text-wrap" ng-click="openBookModal('web-monitoring')">
      <h2>《网站性能监测与优化》</h2>
      <i class="icon ion-ios-book-outline"></i>
    </ion-item>
    <marked>
      性能
      ---
      - 《Web性能权威指南》
      - 《构建高性能Web站点》
      - 《大型分布式网站架构设计与实践》
    </marked>
  </ion-content>
</ion-modal-view>
