<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">{{"books" | translate}}</h1>
    <button class="button button-clear button-primary" ng-click="closeSpecialModal()">关闭</button>
  </ion-header-bar>
  <ion-content>
    <ion-item class="item item-icon-right" type="item-text-wrap" ng-click="openBookModal('pro-js')">
      <h2>《JavaScript高级程序设计》</h2>
      <i class="icon ion-ios-book-outline"></i>
    </ion-item>
    <ion-item class="item item-icon-right" type="item-text-wrap" ng-click="openBookModal('js-dp')">
      <h2>《JavaScript设计模式》</h2>
      <i class="icon ion-ios-book-outline"></i>
    </ion-item>
    <marked>
      JavaScript
      ---
      - 《编写可维护的JavaScript》
      - 《Effective JavaScript》
      - 《JavaScript语言精粹》


      单页面应用
      ---

      - 《单页Web应用:JavaScript从前端到后端》
      - 《Backbone.js开发秘笈》

      DOM
      ---

      - 《JavaScript DOM编程艺术》
      - 《精通jQuery》
      - 《JavaScript框架设计》

      MEAN
      ---
      - 《Angular.js权威指南》
      - 《Node.js实战》
      - 《MongoDB权威指南》
      - 《RESTful Web APIs》
      - 《Building MicroServices》
    </marked>
  </ion-content>
</ion-modal-view>
