<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">调试{{"tool" | translate}}</h1>
    <button class="button button-clear button-primary" ng-click="closeSpecialModal()">关闭</button>
  </ion-header-bar>
  <ion-content class="padding">
    <marked>
      Chrome
      ---

      | 名称 | 用途 |
      |-------------------------|-----------------------|
      | Chrome DevTools | Chrome自带 |
      | JSONView | 用于格式化JSON |
      | Open SEO Stats | 查看网站SEO信息 |
      | PageSpeed Insights | PageSpeed性能优化测试 |
      | Postman | API测试 |
      | React Developer Tools | React调试工具 |
      | Super Auto Refresh | 自动刷新页面 |
      | XPath Helper | XPath解析助手 |
      | YSlow | 性能优化测试 |
    </marked>
  </ion-content>
</ion-modal-view>
