<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">工具</h1>
    <button class="button button-clear button-primary" ng-click="closeSpecialModal()">关闭</button>
  </ion-header-bar>
  <ion-content class="padding">
    <marked>
      JavaScript框架
      ---

      + [jQuery](http://jquery.com/)
      + [dojo](http://dojotoolkit.org/)
      + [Backbone](http://backbonejs.org/)
      + [Meteor](http://meteor.com/)
      + [Zepto.js](http://zeptojs.com/)
      + [React](http://facebook.github.io/react/)
      + [Knockout](http://knockoutjs.com/)
      + [Sammy.js](http://sammyjs.org/)
      + [Ember.js](http://emberjs.com/)
      + [Maria](https://github.com/petermichaux/maria)
      + [Underscore.js](http://underscorejs.org/)


      CSS框架
      ---
      + Bootstrap
      + [Compass](http://compass-style.org/)
      + [Foundation by Zurb](http://foundation.zurb.com/)
      + [Gumby](http://gumbyframework.com/)
      + [Pure](http://purecss.io/)
      + [Topcoat](https://github.com/topcoat/topcoat)
      + [Semantic UI](http://semantic-ui.com/)
    </marked>
  </ion-content>
</ion-modal-view>
