<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">{{"tool" | translate}}</h1>
    <button class="button button-clear button-primary" ng-click="closeSpecialModal()">OK</button>
  </ion-header-bar>
  <ion-content class="padding">
    <marked>
      JavaScript框架
      ---

      + [jQuery](http://jquery.com/)是一个兼容多浏览器的JavasSript 框架，核心理念是- write less, do more(写得更少，做得更多)。
      + [Backbone](http://backbonejs.org/)一个轻量级库，可用于创建 MVC 类应用程序。
      + [Meteor](http://meteor.com/)是一种新的JavaScript 框架，用于自动化和简化实时运行的Web 应用程序的开发。
      + [Zepto.js](http://zeptojs.com/)是一个极简的、面向现代浏览器的JavaScript库，大部分API兼容jQuery。
      + [React](http://facebook.github.io/react/)是一个JavaScript框架，用于构建“可预期的”和“声明式的”Web用户界面，它已经使Facebook更快地开发Web应用。
      + [Knockout](http://knockoutjs.com/)是一个以数据模型（data model）为基础的能够帮助你创建富文本，响应显示和编辑用户界面的JavaScript类库。
      + [Ember.js](http://emberjs.com/)是一个雄心勃勃的Web应用程序，消除了样板，并提供了一个标准的应用程序架构的JavaScript框架。

      CSS框架
      ---
      + [Bootstrap](http://getbootstrap.com/)简洁、直观、强悍、移动设备优先的前端开发框架，让web开发更迅速、简单。
      + [Compass](http://compass-style.org/)是一个非常丰富的样式框架，包括大量定义好的mixin，函数，以及对SASS的扩展。
      + [Foundation](http://foundation.zurb.com/)由很多针对于响应式开发、非常有用的工具组成，以移动终端优先的一个前端开发框架。
      + [Gumby](http://gumbyframework.com/)是一个响应式的以及960 像素宽度的CSS 网格框架，支持PC、平板和手机屏幕显示。
      + [Pure](http://purecss.io/) 是来自雅虎的CSS 框架，使用Normalize.CSS 无需任何JavaScript 代码。
      + [Topcoat](https://github.com/topcoat/topcoat)主要用于构建美化的Web表单，包括提交按钮、输入框、单选框/复选框、滑动杆、搜索框等表单元素。
      + [Semantic UI](http://semantic-ui.com/)是一款语义化设计的前端开源框架，其功能强大，使用简单，为设计师和开发师提供可复用的完美设计方案。

      WorkFlow
      ---
      + Yeoman
      + Grunt
      + Glup
      + FIS
      + JSLint
      + JSHint
      + Babel
      + Browser-sync
      + Glue
      + Helium
    </marked>
  </ion-content>
</ion-modal-view>
