<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">{{"tool" | translate}}</h1>
    <button class="button button-clear button-primary" ng-click="closeSpecialModal()">关闭</button>
  </ion-header-bar>
  <ion-content class="padding">
    <marked>
      JavaScript框架
      ---

      + [jQuery](http://jquery.com/)是一个兼容多浏览器的JavasSript 框架，核心理念是- write less, do more(写得更少，做得更多)。
      + [Backbone](http://backbonejs.org/)一个轻量级库，可用于创建 MVC 类应用程序。
      + [Meteor](http://meteor.com/)是一种新的JavaScript 框架，用于自动化和简化实时运行的Web 应用程序的开发。
      + [Zepto.js](http://zeptojs.com/)是一个极简的、面向现代浏览器的JavaScript库，大部分API兼容jQuery。
      + [React](http://facebook.github.io/react/)是一个JavaScript框架，用于构建“可预期的”和“声明式的”Web用户界面，它已经使Facebook更快地开发Web应用。
      + [Knockout](http://knockoutjs.com/)是一个以数据模型（data model）为基础的能够帮助你创建富文本，响应显示和编辑用户界面的JavaScript类库。
      + [Ember.js](http://emberjs.com/)是一个雄心勃勃的Web应用程序，消除了样板，并提供了一个标准的应用程序架构的JavaScript框架。

      CSS框架
      ---
      + [Bootstrap](http://getbootstrap.com/)
      + [Compass](http://compass-style.org/)
      + [Foundation by Zurb](http://foundation.zurb.com/)
      + [Gumby](http://gumbyframework.com/)
      + [Pure](http://purecss.io/)
      + [Topcoat](https://github.com/topcoat/topcoat)
      + [Semantic UI](http://semantic-ui.com/)

      WorkFlow
      ---
      + Yeoman
      + Grunt
      + Glup
      + FIS
      + JSLint
      + JSHint
      + Babel
      + Browser-sync
      + Glue
      + Helium
    </marked>
  </ion-content>
</ion-modal-view>
