<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="nl.x-services.plugins.socialsharing.tests"
    version="4.3.15">
    <name>SocialSharing Tests</name>
    <author>Nicolas Oliver</author>
    <license>MIT</license>

    <js-module src="test.js" name="tests"></js-module>
</plugin>