.ion-page > ion-content {
  background-color: #ebebeb;
}

growth-modal.ion-page > ion-content,
ion-content.toolbox-list,
skill-modal.ion-page > ion-content {
  background-color: #fff;
}

rating {
  text-align: right;
  float: right;
  right: 0;
  position: relative;


  ul {
    padding: 0;
    margin: 0;

    &.rating li {
      padding: 0 !important;
      background: none;
      color: #ffb400;

      ion-icon {
        font-size: 30px;
      }
    }
  }
}

ion-header ion-navbar {
  ion-icon {
    font-size: 2.4rem;
  }
}
