<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="io.liteglue.sqliteStorage.tests"
    version="0.0.1">

    <name>Cordova sqlite storage tests</name>

    <js-module src="tests.js" name="tests">
    </js-module>

</plugin>

<!-- vim: set expandtab : -->
