<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">工具</h1>
    <button class="button button-clear button-primary" ng-click="closeSpecialModal()">关闭</button>
  </ion-header-bar>
  <ion-content class="padding">

    <div class="list card">
      <div class="item item-divider">
        Jenkins
      </div>
      <div class="item item-text-wrap">
        Jenkins 是一个开源项目，提供了一种易于使用的持续集成系统，使开发者从繁杂的集成中解脱出来，专注于更为重要的业务逻辑实现上。同时 Jenkins
        能实施监控集成中存在的错误，提供详细的日志文件和提醒功能，还能用图表的形式形象地展示项目构建的趋势和稳定性。下面将介绍 Jenkins 的基本功能。
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">
        Go
      </div>
      <div class="item item-text-wrap">
        Go的前身是CruiseControl，提供了一个覆盖整个代码开发过程——持续集成、测试和部署——的管道式过程。Go监控版本控制系统或者包存储库的变化。当检测到变化，它就会运行构建/测试/部署周期所需的其它工具，其中包括构建管理器，如Apache Ant、Apache Maven、Microsoft MSBuild；自动化测试工具，如Selenium、Twist、Cucumber；基础设施管理工具，如Chef、Puppet等，还有许多。Go可以运行任何可以从命令行运行的东西。
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">
        Travis CI
      </div>
      <div class="item item-text-wrap">
        <p>Travis CI是在软件开发领域中的一个在线的，分布式的持续集成服务，用来构建及测试在GitHub托管的代码。这个软件的代码同时也是开源的，可以在GitHub上下载到，尽管开发者当前并不推荐在闭源项目中单独使用它。</p>
        <p>它提供了多种编程语言的支持，包括Ruby，JavaScript，Java，Scala，PHP，Haskell和Erlang在内的多种语言。许多知名的开源项目使用它来在每次提交的时候进行构建测试，比如Ruby on Rails，Ruby和Node.js。</p>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">
        Bamboo
      </div>
      <div class="item item-text-wrap">
        <p>Travis Atlassian Bamboo 是一款持续集成构建服务器软件(Build Server)（非开源软件）。</p>
      </div>
    </div>

  </ion-content>
</ion-modal-view>
