<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">{{"tool" | translate}}</h1>
    <button class="button button-clear button-primary" ng-click="closeSpecialModal()">关闭</button>
  </ion-header-bar>
  <ion-content class="padding markdown-body">
    <marked>
      软件包管理工具
      ---

      | 名字          | 语言
      | -------------|----------------
      | Anaconda     | Python
      | Assembly     | 汇编
      | Bower        | 前端
      | Cabal        | Haskell
      | CocoaPods    | Objective-C,RubyMotion
      | Composer     | PHP
      | CPAN         | Perl
      | CRAN         | R
      | CTAN         | TeX
      | EasyInstall  | Python
      | Gradle       | JVM
      | Ivy          | Java,Scala
      | LuaRocks     | Lua
      | Maven        | Java
      | npm          | for Node.js
      | NuGet        | .NET Framework.
      | PAR          |  Perl
      | PEAR         | PHP
      | pip          | Python
      | Quicklisp    |  Common Lisp
      | RubyGems     | Ruby
      | sbt          | Scala
      | leiningen    | Clojure
    </marked>
  </ion-content>
</ion-modal-view>
