<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">TODO</h1>
    <button class="button button-clear button-primary" ng-click="closeSpecialModal()">关闭</button>
  </ion-header-bar>
  <ion-content>
    <ion-list show-delete="false" can-swipe="true">
      <ion-item ng-repeat="todoItem in todoLists">
        {{todoItem.title}}
        <ion-option-button class="button-assertive icon ion-trash-a" ng-click="addTodo(todoItem)"></ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
