<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">书单</h1>
    <button class="button button-clear button-primary" ng-click="closeSpecialModal()">关闭</button>
  </ion-header-bar>
  <ion-content>
    <ion-item class="item item-icon-right" type="item-text-wrap" ng-click="openBookModal('python-tdd')">
      <h2>《Python Web开发 - 测试驱动方法》</h2>
      <i class="icon ion-ios-book-outline"></i>
    </ion-item>
    <ion-item class="item item-icon-right" type="item-text-wrap" ng-click="openBookModal('tdd')">
      <h2>《测试驱动开发》</h2>
      <i class="icon ion-ios-book-outline"></i>
    </ion-item>
    <ion-item class="item item-icon-right" type="item-text-wrap" ng-click="openBookModal('tdd-art')">
      <h2>《测试驱动开发的艺术》</h2>
      <i class="icon ion-ios-book-outline"></i>
    </ion-item>
    <marked class="padding">
      Java{{"tool" | translate}}
      ---
      - JUnit


      JavaScript{{"tool" | translate}}
      ---
      - Jasmine
      - QUnit
      - Mocha
      - Sinon
      - Jest

      功能测试
      ---
      - Selenium
      - Cucumber
      - NightWatch

    </marked>
  </ion-content>
</ion-modal-view>
