<ion-view view-title="{{'community' | translate}}">
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-ios-person-outline" href="#/app/login" ng-show="!isLogin"></a>
    <a class="button button-icon ion-ios-chatbubble-outline" href="#/app/topic/create" ng-show="isLogin"></a>
  </ion-nav-buttons>
  <ion-content class="has-header" on-swipe-right="goBack()" on-swipe-left="goForward()">
    <ion-refresher ng-if="topics.length > 0" pulling-text="下拉刷新..." on-refresh="doRefresh()">
    </ion-refresher>

    <ion-item class="item item-icon-right" ng-show="!topics">
      <div class="sectionTitle"><ion-spinner></ion-spinner></div>
    </ion-item>

    <ion-list class="topics">
      <ion-item class="item-avatar" collection-repeat="topic in topics" collection-item-width="'100%'"collection-item-height="73"
                href="#/app/topic/{{topic.id}}">
        <img ng-src="{{ (included | filter: topic.relationships.startUser.data)[0].attributes.avatarUrl }}">
        <h2>{{topic.attributes.title}}</h2>
        <p class="summary">
          <span ng-if="topic.attributes.isSticky" class="tab hl">{{ "top" | translate}}</span>
          {{ (included | filter: topic.relationships.startUser.data)[0].attributes.username }}
          <span class="item-note ago" am-time-ago="topic.attributes.lastTime"></span>
          <span><i class="ion-ios-chatboxes-outline"></i>{{topic.attributes.commentsCount - 1}}</span>
        </p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
