<ion-view title="撰写">
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-ios-eye-outline">预览</a>
  </ion-nav-buttons>
  <form name="postsForm" novalidate ng-submit="create(postsForm)">
  <ion-content>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Title</span>
          <input type="text" name="title" placeholder="Write here" ng-model="post.title" required
                 ng-minlength="2" ng-maxlength="70">
        </label>

        <div class="form-errors" ng-show="postsForm.title.$error && postsForm.$submitted" ng-messages="postsForm.title.$error">
          <div ng-messages-include="templates/community/form-messages.html"></div>
        </div>

        <label class="item item-divider">内容</label>
        <label class="item item-input">
          <textarea name="content" msd-elastic="\n" rows="10" placeholder="Write here" ng-model="post.content" required ng-minlength="20" ng-maxlength="2000"></textarea>
        </label>

        <div class="form-errors" ng-show="postsForm.content.$error && postsForm.$submitted" ng-messages="postsForm.content.$error">
          <div ng-messages-include="templates/community/form-messages.html"></div>
        </div>

      </div>
  </ion-content>
  <ion-footer-bar align-title="left">
    <button class="button button-full button-clear button-positive" type="submit" style="margin-top: 0px;" ng-show="!isInCreating">
      创建
    </button>
    <div class="sectionTitle" ng-show="isInCreating"><ion-spinner style="margin: 0 50%;"></ion-spinner></div>
  </ion-footer-bar>
  </form>
</ion-view>
