<ion-view title="撰写">
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-ios-eye-outline">预览</a>
  </ion-nav-buttons>
  <ion-content>
    <form name="postsForm" novalidate>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Title</span>
          <input id="slug" type="text" name="title" placeholder="Write here" ng-model="posts.title" required
                 ng-minlength="2" ng-maxlength="70">
        </label>

        <label class="item item-input">
          <span class="input-label">内容</span>
        </label>
        <label class="item item-input">
          <textarea id="content" name="content" msd-elastic="\n" rows="10" placeholder="Write here"
                    ng-model="posts.content" required ng-minlength="2" ng-maxlength="2000"></textarea>
        </label>
      </div>

      <button class="button button-block button-positive" ng-click="create(postsForm)" ng-disabled="postsForm.$invalid"
              type="submit">发送
      </button>
    </form>
  </ion-content>
</ion-view>
