<ion-view view-title='{{ "profile" | translate}}'>
  <ion-content>
    <ion-item class="item item-icon-right" ng-show="!userId">
      <div class="sectionTitle"><ion-spinner></ion-spinner></div>
    </ion-item>

    <div id="profile-content" ng-show="userId">
      <div id="profile-info">
        <img id="profile-image" ng-if="userInfo.avatarUrl" ng-src="{{userInfo.avatarUrl}}">
        <div id="profile-avatar" ng-if="!userInfo.avatarUrl">
          <span>{{getFirstChar(userInfo.username)}}</span>
        </div>
        <h3 id="profile-name">{{userInfo.username}}</h3>
        <span id="profile-description" ng-if="userInfo.bio">{{userInfo.bio}}</span>
        <span ng-if="!userInfo.bio">这家伙很懒,什么都没有留下。</span>
      </div>
      <ion-item>
        加入于<span>{{userInfo.joinTime | amDateFormat:'YYYY年MM月DD日'}}</span>
      </ion-item>
      <ion-item>
        <i class="icon ion-ios-clock-outline"></i>&nbsp; 最后登录: <span am-time-ago="userInfo.lastSeenTime"></span>
      </ion-item>
      <ion-item>
        <i class="icon ion-ios-chatbubble-outline"></i> &nbsp;回复: <span>{{userInfo.discussionsCount}}</span>
      </ion-item>
      <ion-item>
        <i class="icon ion-navicon"></i> &nbsp;话题: <span>{{userInfo.commentsCount}}</span>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
