<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">书单</h1>
    <button class="button button-clear button-primary" ng-click="closeSpecialModal()">关闭</button>
  </ion-header-bar>
  <ion-content class="padding markdown-body">
    <marked>
      入门级
      ---
      - 《Spring实战》
      - 《MEAN Web开发》
      - 《PHP和MySQL Web开发》

      中级
      ---

      - 《高性能网站建设指南》
      - 《REST 实战》
      - 《大型网站技术架构:核心原理与案例分析》

      高级
      ---
      - 《企业应用架构模式》
      - 《领域驱动设计》
    </marked>
  </ion-content>
</ion-modal-view>
