<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Web服务框架</h1>
    <button class="button button-clear button-primary" ng-click="closeSpecialModal()">关闭</button>
  </ion-header-bar>
  <ion-content class="padding markdown-body">
    <marked>

      名称          |	平台       	|   消息模型                 | Protocols
      -------------|--------------|---------------------------|-----------
      Apache Axis  |	Java/C++	  | Client/Server       	    | SOAP, WSDL
      Apache Axis2 |	Java	      | Client/Server/ Asyn       |	SOAP1.1, SOAP1.2, MTOM, WSDL 2.0, WSDL, REST
      Apache CXF	 |  Java	      | Client/Server/ Asyn       | SOAP1.1, SOAP1.2, MTOM, WSDL 2.0, WSDL, REST
      CodeIgniter	 | PHP          |	Client/Server   	        |	XML-RPC
      gSOAP        |	C,C++       |	Client/Server Duplex/Async|	SOAP1.1, SOAP1.2, MTOM, WSDL 1.1, WSDL 2.0, REST, XML-RPC, JSON, JSON-RPC, XML
      Restbed	     | C, C++	      | Server Duplex/Async	      | REST
      GlassFish	   | Java         |	Client/Server	            |	SOAP, WSDL, ???
      Jersey	     | Java         |	Client/Server	            |	REST
      .NET Framework |C#, VB.NET  |	Client/Server	            |	SOAP, WSDL, MTOM
      Simple-Web-Server |	C++	    | Client/Server             |	REST
      WSO2         | WSF/PHP	PHP |	Client/Server	            | SOAP, WSDL
      Zend Framework |	PHP	      | Client/Server	            | SOAP, JSON, JSON-RPC, REST, XML-RPC
      Gugamarket	 |  Node.js     |	Client/Server             |	REST

      From Wiki: [List of web service frameworks](https://en.wikipedia.org/wiki/List_of_web_service_frameworks)
    </marked>
  </ion-content>
</ion-modal-view>
