<ion-header>
  <ion-navbar>

  </ion-navbar>
</ion-header>

<ion-content class="toolbox-list has-header" padding>
  <div class="topic row topicCard" *ngIf="topic">
    <div class="col col80">
      <h4 class="title">{{topic.attributes.title}}</h4>
      <div class="markdown" [innerHTML]="post.attributes.contentHtml"></div>
    </div>
  </div>
  <div class="topicItem">
    <div *ngFor="let comment of discussions">
      <div class="item item-text-wrap item-avatar"
           *ngIf="comment.type==='posts' && comment.attributes.contentHtml && comment.attributes.number!== 1">
        <h2>{{getUsername(comment.relationships.user)}}</h2>
        <div [innerHTML]="comment.attributes.contentHtml"></div>
      </div>
    </div>
  </div>
</ion-content>
