.community-detail {
  background-color: #f0f0f0;

  .topic {
    background: #fff;
    border-bottom: 1px solid #f0f0f0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    margin-bottom: 5px;

    h4.title {
      text-align: center;
    }
  }
  .commentList {
    margin-bottom: 10px;

    .ago, .topics .summary {
      font-size: 12px;
    }
    .ago {
      float: right;
    }
    
    ion-label {
      white-space: normal;

      p {
        display: block;
      }
    }

    .PostMention,
    .UserMention {
      background: #e8ecf3;
      color: #7088a9;
      border-radius: 4px;
      padding: 2px 5px;
      border: 0 !important
    }

    blockquote .PostMention, blockquote .UserMention {
      background: #fff
    }

    .PostMention:hover, .UserMention:hover, .PostMention:active, .UserMention:active {
      color: #426799
    }

    .PostMention {
      margin: 0 3px
    }

    .PostMention:first-child {
      margin-left: 0
    }

    .PostMention:before {
      color: #03a9f4;
      display: inline-block;
      font: 1em Ionicons;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\f4c7";
      margin-right: 5px;
    }
  }
}
