<ion-header no-shadow>
  <ion-navbar>
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="startApp()" primary>Skip</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides [options]="{pager: true}" (ionWillChange)="onSlideChangeStart($event)">
    <ion-slide *ngFor="let slide of slides">
      <img *ngIf="!!slide.image" [src]="slide.image" class="slide-image animated bounceInDown"/>
      <ion-icon class="tutorial" *ngIf="!!slide.icon" [name]="slide.icon"></ion-icon>

      <h2 class="slide-title" [innerHTML]="slide.title | sanitizeHtml"></h2>
      <p [innerHTML]="slide.description | sanitizeHtml"></p>
    </ion-slide>
    <ion-slide>
      <img src="images/slide.png" class="slide-image"/>
      <h2 class="slide-title">成长从这里开始</h2>
      <button large clear (click)="startApp()">
        开始使用
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>
