<ion-header>
  <ion-navbar>
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-title>
      {{dayView.title}}
    </ion-title>
    <ion-buttons end>
      <button>
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="basicView">
      <ion-segment-button value="articleView">
        文章
      </ion-segment-button>
      <ion-segment-button value="growthView">
        Growth
      </ion-segment-button>
      <ion-segment-button value="todoView">
        TODO
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content class="day">
  <div [ngSwitch]="basicView" class="day-view-switch">
    <ion-list *ngSwitchCase="'articleView'">

      <div class="intro">
        <h4>文章</h4>
        <p>这里有你所需要了解的一些基本信息。</p>
      </div>

      <ion-item-group *ngFor="let articleSection of dayView.articlesView; let i = index;">
        <ion-item-divider light>
          <span class="title">{{articleSection.title}}</span>

          <button class="day-info" (click)="presentHtmlModal(dayView.intros[i].info)">
            <ion-icon name="information-circle"></ion-icon>
          </button>
        </ion-item-divider>
        <ion-item *ngFor="let article of articleSection.articles" (click)="presentHtmlModal({slug: article.slug})">
          {{article.title}}
          <ion-icon name="arrow-right" item-right></ion-icon>
        </ion-item>
      </ion-item-group>
    </ion-list>

    <ion-list *ngSwitchCase="'growthView'">
      <div class="intro">
        <h4>Growth</h4>
        <p>这里有你所需要掌握的一些技能。</p>
      </div>
      <ion-item-group *ngFor="let growthSection of dayView.growthView">
        <ion-item-divider light>{{growthSection.title}}</ion-item-divider>
        <ion-item *ngFor="let growth of growthSection.sections" (click)="presentHtmlModal(growth.info)">
          <span class="title">{{growth.title}}</span>
          <ion-icon name="arrow-right" item-right></ion-icon>
        </ion-item>
      </ion-item-group>
    </ion-list>

    <ion-list *ngSwitchCase="'todoView'">
      <div class="intro">
        <h4>TODO</h4>
        <p>这里有你所需要尝试的一些内容。</p>
      </div>
      <ion-item *ngFor="let todoSection of dayView.todoView" (click)="presentTodoModal(todoSection.info)">
        <span class="title">{{todoSection.title}}</span>
        <ion-icon name="arrow-right" item-right></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
