<ion-header>
  <ion-navbar>
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-title>
      从零开始
    </ion-title>
    <ion-buttons end>
      <button>
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="basicView">
      <ion-segment-button value="articleView">
        文章
      </ion-segment-button>
      <ion-segment-button value="growthView">
        Growth
      </ion-segment-button>
      <ion-segment-button value="todoView">
        TODO
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content class="day">
  <div class="day-slider">
    <ion-slides pager>
      <ion-slide class="slider1">
        <h2>前端</h2>
        <p>前端Front-end和后端back-end是描述进程开始和结束的通用词汇</p>
        <button class="day-info" dark outline (click)="presentHtmlModal({slug: 'front', type: 'desc'})">
          <ion-icon name="information-circle"></ion-icon>
        </button>
      </ion-slide>

      <ion-slide class="slider2">
        <h2>构建系统</h2>
        <button class="day-info" dark outline (click)="presentHtmlModal({slug: 'build', type: 'desc'})">
          <ion-icon name="information-circle"></ion-icon>
        </button>
      </ion-slide>

      <ion-slide class="slider3">
        <h2>后台</h2>
        <button class="day-info" dark outline (click)="presentHtmlModal({slug: 'backend', type: 'desc'})">
          <ion-icon name="information-circle"></ion-icon>
        </button>
      </ion-slide>

    </ion-slides>
  </div>

  <div [ngSwitch]="basicView">

    <div *ngSwitchCase="'articleView'">
      <ion-item-group>
        <ion-item-divider light>构建系统</ion-item-divider>
        <ion-item *ngFor="let article of articles.build" (click)="presentHtmlModal({slug: article.slug})">
          {{article.title}}
          <ion-icon name="ios-arrow-forward" item-right></ion-icon>
        </ion-item>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider light>前端</ion-item-divider>
        <ion-item *ngFor="let article of articles.front" (click)="presentHtmlModal({slug: article.slug})">
          {{article.title}}
          <ion-icon name="ios-arrow-forward" item-right></ion-icon>
        </ion-item>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider light>后台</ion-item-divider>
        <ion-item *ngFor="let article of articles.backend" (click)="presentHtmlModal({slug: article.slug})">
          {{article.title}}
          <ion-icon name="ios-arrow-forward" item-right></ion-icon>
        </ion-item>
      </ion-item-group>
    </div>
    <ion-list *ngSwitchCase="'growthView'">
      <ion-item-group>
        <ion-item-divider light>前端</ion-item-divider>
        <ion-item (click)="presentHtmlModal({slug: 'debug', type: 'general', domain: 'frontend'})">
          Debug
          <ion-icon name="ios-arrow-forward" item-right></ion-icon>
        </ion-item>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider light>后台</ion-item-divider>
        <ion-item (click)="presentHtmlModal({slug: 'framework', type: 'general', domain: 'backend'})">
          服务框架
          <ion-icon name="ios-arrow-forward" item-right></ion-icon>
        </ion-item>
        <ion-item (click)="presentHtmlModal({slug: 'services', type: 'general', domain: 'backend'})">
          应用框架
          <ion-icon name="ios-arrow-forward" item-right></ion-icon>
        </ion-item>
      </ion-item-group>
    </ion-list>
    <ion-list *ngSwitchCase="'todoView'">
      <ion-item (click)="presentTodoModal({domain: 'frontend'})">
        前端
        <ion-icon name="ios-arrow-forward" item-right></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
