
.days {
  margin-top: 1em;
}

.item {
  border: 1px solid #F9F9F9;
}

.intro {
  height: 70px;
  background: $growth-blue;
  margin-top: -16px;
  color: #fff;

  h4 {
    font-size: 1.2em;
    text-align: center;
    top: 8px;
    position: relative;
  }
  p {
    color: #fff;
    padding: 0 1em;
    text-align: center;
  }

}

ion-label span.title {
  font-size: 1.3em;
}


button.day-info {
  border: none;
  position: relative;
  float: right;
  background: none;
  color: $growth-blue;
  box-shadow: none;
}
