
.days {
  margin-top: 1em;
}

.item {
  border: 1px solid #F9F9F9;
}

.intro {
  height: 70px;
  background: #03a9f4;
  margin-top: -16px;
  color: #fff;

  h4 {
    font-size: 1.2em;
    text-align: center;
    top: 8px;
    position: relative;
  }
  p {
    color: #fff;
    padding: 0 1em;
    text-align: center;
  }
  button.day-info {
    border: none;
    position: absolute;
    top: 0;
    right: 0;
  }
}
