<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <button class="button button-clear button-icon ion-ios-close-empty" ng-click="closeIntroModal()"></button>
    <h1 class="title">{{"intro" | translate}}</h1>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-body">
        <blockquote>又修了一个bug。</blockquote>
        <p>噢！我不觉得这个功能用户会喜欢。</p>
        <p>哈！这个新功能看上去不错。</p>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
