<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <button class="button button-clear button-icon ion-ios-arrow-back" ng-click="closeIntroModal()"></button>
    <h1 class="title">{{"intro" | translate}}</h1>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-body">
        <article class="markdown-body entry-content" itemprop="text">
          <p>在我们真正开始去写代码之前，我们可能会去考虑一些事情。怎么去规划我们的任务，如何去细分这个任务。</p>

          <ol>
            <li>如果一件事可以自动化，那么就尽量去自动化，毕竟你是一个程序员。</li>
            <li>快捷键！快捷键！快捷键！</li>
            <li>使用可以帮助你快速工作的工具——如启动器。</li>
          </ol>

          <p>不过不得不提到的一点是：你需要去考虑这个需求是不是一个坑的问题。如果这是个一个坑，那么你应该尽早的去反馈这个问题。沟通越早，成本越低。</p>

          <h2><a id="user-content-编码过程" class="anchor" href="#编码过程" aria-hidden="true"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path d="M4 9h1v1h-1c-1.5 0-3-1.69-3-3.5s1.55-3.5 3-3.5h4c1.45 0 3 1.69 3 3.5 0 1.41-0.91 2.72-2 3.25v-1.16c0.58-0.45 1-1.27 1-2.09 0-1.28-1.02-2.5-2-2.5H4c-0.98 0-2 1.22-2 2.5s1 2.5 2 2.5z m9-3h-1v1h1c1 0 2 1.22 2 2.5s-1.02 2.5-2 2.5H9c-0.98 0-2-1.22-2-2.5 0-0.83 0.42-1.64 1-2.09v-1.16c-1.09 0.53-2 1.84-2 3.25 0 1.81 1.55 3.5 3 3.5h4c1.45 0 3-1.69 3-3.5s-1.5-3.5-3-3.5z"></path></svg></a>编码过程</h2>

          <p>整个编程的过程如下图所示：</p>

          <p><img src="/assets/article/chapter3/coding.png" alt="编码过程" style="max-width:100%;"></p>

          <p>步骤如下所示：</p>

          <ul>
            <li>Kick Off。在这个步骤中，我们要详细地了解我们所需要做的东西、我们的验收条件是什么、我们需要做哪些事情。</li>
            <li>Tasking。<strong>简单</strong>的规则一下，我们需要怎么做。一般来说，如果是结对编程的话，还会记录下来。</li>
            <li>最新的代码。对于使用 Git 来管理项目的团队来说，在一个任务刚开始的时候应该保证本地的代码是最新的。</li>
            <li>Test First。测试优先是一个很不错的实践，可以保证我们写的代码的健壮，并且函数尽可能小，当然也会有测试。</li>
            <li>Code。就是实现功能，一般人都知道。</li>
            <li>重构。在我们实现了上面两步之后，我们还需要重构代码，使我们的代码更容易阅读、更易懂等等。</li>
            <li>提交代码。这里的提交代码只是本地的提交代码，因此都提倡在本地多次提交代码。</li>
            <li>运行测试。当我们完成我们的任务后，我们就可以准备 PUSH 代码了。在这时，我们需要在本地运行测试——以保证我们不破坏别人的功能。</li>
            <li>PUSH 代码。</li>
            <li>等 CI 测试通过。如果这时候 CI 是挂的话，那么我们就需要再修 CI。这时其他的人就没有理由 PUSH 代码，如果他们的代码也是有问题的，这只会使情况变得愈加复杂。</li>
          </ul>

          <p>不过，在最开始的时候我们要了解一下如何去搭建一个项目。</p>
      </div>
    </div>

  </ion-content>
</ion-modal-view>
