<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">{{"intro" | translate}}</h1>
    <button class="button button-clear button-primary" ng-click="closeIntroModal()">OK</button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-body">
        <blockquote>现在，我们可以开始真正的编码工作了?</blockquote>
        <p>现在，才开始真正的编码工作。我们拿到了一个任务，知道了它是做什么之后。</p>
        <p>我们开始对其分步，第一步做什么，下一步做什么，每一步都很清楚了。可以编写我们的第一个测试，看来这个测试好像并没有想象中对么简单，我们需要Mock对象。</p>
        <p>啊！这个组件需要Fake一个Service。第一个任务看来是完成编码了，让我们对其进行简单的重构。</p>
        <p>我们已经有了单元测试，现在让我们添加一个功能测试。在我们这个例子里，似乎也需要一个集成测试。</p>
        <p>终于可以Commit，并Push代码。</p>
      </div>
    </div>

  </ion-content>
</ion-modal-view>
