<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <button class="button button-clear button-icon ion-ios-arrow-back" ng-click="closeIntroModal()"></button>
    <h1 class="title">{{"intro" | translate}}</h1>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-body">
        <p>在我们第一次开始写程序的时候，都是以 Hello World 开始的。或者：</p>

        <div class="highlight highlight-source-c">
      <pre><span class="pl-en">printf</span>(<span class="pl-s"><span class="pl-pds">"</span>hello,world<span
        class="pl-pds">"</span></span>);</pre>
        </div>

        <p>又或许：</p>

        <div class="highlight highlight-source-js">
      <pre><span class="pl-en">alert</span>(<span class="pl-s"><span class="pl-pds">'</span>hello,world<span
        class="pl-pds">'</span></span>);</pre>
        </div>

        <p>过去的十几年里，试过用二十几种不同的语言，每个都是以 hello,world 作为开头。在一些特定的软件，如 Nginx，则是 <strong>It Works</strong>。</p>

        <p>这是一个很长的故事，这个程序最早出现于1972年，由贝尔实验室成员布莱恩·柯林汉撰写的内部技术文件《A Tutorial Introduction to the Language
          B》之中。不久，同作者于1974年所撰写的《Programming in C: A Tutorial》，也延用这个范例；而以本文件扩编改写的《C语言程序设计》也保留了这个范例程式。工作时，我们也会使用类似于
          hello,world 的 boilerplate 来完成基本的项目创建。</p>

        <p>同时需要注意的一点是，在每个大的项目开始之前我们应该去找寻好开发环境。搭建环境是一件非常重要的事，它决定了你能不能更好地工作。毕竟环境是生产率的一部分。高效的程序员和低效程序员间的十倍差距，至少有三倍是因为环境差异。</p>

        <p>因此在这一章里，我们将讲述几件事情：</p>

        <ul>
          <li>使用怎样的操作系统</li>
          <li>如何去选择工具</li>
          <li>如何搭建相应操作系统上的环境</li>
          <li>如何去学习一门语言</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
