<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <button class="button button-clear button-icon ion-ios-close-empty" ng-click="closeIntroModal()"></button>
    <h1 class="title">{{"intro" | translate}}</h1>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-body">
        <blockquote>唉！这代码是谁写的！</blockquote>
        <p>这里需要重构一下，这里也需要重构一下。</p>
        <p>什么！没有测试！</p>
        <p>Shit!</p>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
