<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">{{"intro" | translate}}</h1>
    <button class="button button-clear button-primary" ng-click="closeIntroModal()">关闭</button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-body">
        <blockquote>上线了几天后，发现一些数据发生了变化。网站的访问速度变快了，使得访问网站的人越来越多。</blockquote>

        <p>等等，这个地方好像没有人用过！</p>
        <p>唔！这是一个Bug!</p>
        <p>应用的性能比以前好多了，一个服务器可以顶以前的两个，一下子省了好多服务器。</p>
        <p>看来，用户比较喜欢那个功能，我们增强一下这个功能吧。</p>
        <p>我们还需要提高一下来自搜索引擎的流量。</p>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
