<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <button class="button button-clear button-icon ion-ios-arrow-back" ng-click="closeIntroModal()"></button>
    <h1 class="title">{{"intro" | translate}}</h1>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-body">
        <blockquote>在我们不断地重复第二个步骤的时候，我们也要开始去考虑如何上线了。</blockquote>

        <p>我们是直接部署在Docker容器里呢？还是直接部署在服务器上呢？接着，我们还为其配置了缓存服务和均衡负载等等。</p>
        <p>咦！这个配置是写死的！这里需要一个Toggle来控制功能是否上线！</p>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
