<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <button class="button button-clear button-icon ion-ios-arrow-back" ng-click="closeSpecialModal()"></button>
    <h1 class="title">文章</h1>
    <button class="button button-icon button-clear ion-ios-compose-outline" ng-click="EditArticle()"></button>
  </ion-header-bar>

  <ion-content>
    <div class="card-wrap">
      <div class="card full-card">
        <div class="item item-body blogDetail">
          <div class="markdown" ng-bind-html="htmlContent"></div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
