<ion-view view-title="{{'bookroadmap' | translate}}">
  <ion-content>
    <div class="list card">
      <div class="item item-divider">
        ThoughtWorks{{"books" | translate}}路线
      </div>
      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/books/prog">
        <h2>编程实践</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/books/arch">
        <h2>架构与设计</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/books/method">
        <h2>方法学</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/books/think">
        <h2>思想与领导力</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </div>

    <div class="list card">
      <div class="item item-divider">
        特定领域读书路线
      </div>
      <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/books/fe">
        <h2>前端</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
