<ion-view view-title="{{'bookroadmap' | translate}}">
  <ion-content>
    <ion-item class="item-divider">
      ThoughtWorks {{"thoughtworks-reading-roadmap" | translate}}
    </ion-item>
    <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/books/prog">
      <h2>{{"programming-practice" | translate}}</h2>
      <i class="icon ion-ios-arrow-right"></i>
    </ion-item>

    <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/books/arch">
      <h2>{{"architecture" | translate}}</h2>
      <i class="icon ion-ios-arrow-right"></i>
    </ion-item>

    <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/books/method">
      <h2>{{"methodology" | translate}}</h2>
      <i class="icon ion-ios-arrow-right"></i>
    </ion-item>

    <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/books/think">
      <h2>{{"leadership" | translate}}</h2>
      <i class="icon ion-ios-arrow-right"></i>
    </ion-item>

    <ion-item class="item-divider">
      {{"specific-domain" | translate}}
    </ion-item>

    <ion-item class="item item-icon-right" type="item-text-wrap" href="#/app/books/fe">
      <h2>{{"front-end" | translate}}</h2>
      <i class="icon ion-ios-arrow-right"></i>
    </ion-item>
  </ion-content>
</ion-view>
