<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title" style="text-align: center">书评</h1>
    <a class="button button-icon ion-ios-cart-outline" ng-click="OpenInStore()" ng-show="store !== underfined"></a>
    <button class="button button-clear button-primary" ng-click="closeBookModal()">关闭</button>
  </ion-header-bar>
  <ion-content>
    <h1 class="sectionTitle">{{title}}</h1>
    <div class="card-wrap">
      <div class="card full-card">
        <div class="item item-body blogDetail">
          <marked ng-bind-html="htmlContent"></marked>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
