<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">书单</h1>
    <button class="button button-clear button-primary" ng-click="closeSpecialModal()">关闭</button>
  </ion-header-bar>
  <ion-content class="padding">
    <marked>
      书单
      ---
      - 《深入浅出数据分析》
      - 《利用Python进行数据分析》
      - 《贝叶斯思维:统计建模的Python学习法》
      - 《集体智慧编程》
      - 《精益数据分析》

      {{"tool" | translate}}
      ---
      - Google Analytics
      - WebMaster
      - Omniture
      - New Relic
    </marked>
  </ion-content>
</ion-modal-view>
