<ion-view view-title="难度 {{level}} - 分数: {{score}}">
    <ion-content>
        <div class="quiz-area" ng-show="inProgress">
            <div ng-show="!quizOver">
                <div class="row">
                    <div class="col">
                        <div ng-show="question">
                            <div hljs source="question"></div>
                        </div>
                    </div>
                </div>
                <ul id="options">
                    <li ng-repeat="option in options" class="item item-radio">
                        <label>
                            <label>
                                <input type="radio" name="answer" value="{{option}}">

                                <div class="item-content">
                                    {{option}}
                                </div>
                                <i class="radio-icon ion-checkmark"></i>
                            </label>
                        </label>
                    </li>
                </ul>
                <button ng-click="checkAnswer()" ng-show="answerMode" class="button button-full button-positive">确认
                </button>

                <div ng-show="!answerMode">
                  <span ng-show="correctAns">
                      <button ng-click="nextQuestion()" class="next-question button button-full button-balanced">下一题
                      </button>
                      <div class="card">
                          <div class="item item-text-wrap">
                              <i class="ion-checkmark"></i> 回答正确!
                          </div>
                      </div>
                      <a class="item item-icon-left button button-full ion-chevron-right icon-right"
                         href="#/app/language/{{wiki_url}}">了解一下{{correct_language}}</a>
                  </span>
                  <span ng-show="!correctAns">
                      <button ng-click="nextQuestion()" class="next-question button button-full button-assertive">下一题
                      </button>
                      <div class="card">
                          <div class="item item-text-wrap">
                              <i class="ion-sad"></i> 答错了~~ 正确答案是: {{correct_language}}。
                          </div>
                      </div>
                      <a class="item item-icon-left button button-full ion-chevron-right icon-right"
                         href="#/app/language/{{wiki_url}}">了解一下{{correct_language}}</a>
                  </span>
                </div>
            </div>

            <div ng-show="quizOver">
                <h2>Quiz is over</h2>
                <button ng-click="reset()">Play again</button>
            </div>
        </div>
        <div class="intro" ng-show="!inProgress">
            <div class="card">
                <div class="item item-text-wrap">
                    根据题中所给的代码，选择对应的语言。
                </div>
            </div>
            <div class="row row-center">
                <button id="startQuiz" ng-click="start()" class="button button-full button-positive col-center">开始答题
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
