<ion-view view-title="{{title}}">
  <ion-content>
    <td-cards>
      <td-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)" on-partial-swipe="cardPartialSwipe(amt)" class="card-{{$index}}">
        <div ng-controller="CardCtrl" class="question">
          {{card.question}}
        </div>
      </td-card>
      <div class="restart" ng-show="finish">
        <div class="start-card" style="background: #fff">
          <button class="button button-balanced" style="margin: 120px 100px;" ng-click="start()">重新开始</button>
        </div>
      </div>
    </td-cards>
  </ion-content>
</ion-view>
