<ion-view view-title="{{title}}">
  <ion-nav-buttons side="right">
    <h1 class="text-center countdown">{{counter}}</h1>
  </ion-nav-buttons>
  <ion-content>
    <button class="button button-full button-calm" ng-show="isFirst" ng-click="stop();getQuestion();">开始</button>
    <button class="button button-full button-calm" ng-show="!isFirst" ng-click="stop();getQuestion();">下一个</button>

    <div class="list card" ng-show="isQuestioning">
      <div class="item item-body">
        <h2 class="quizQuestion">{{question}}</h2>
      </div>
    </div>
  </ion-content>
</ion-view>
