/* Empty. Add your own CSS if you like */
.days {
  margin: 2em 2em;
}

div.title {
  width: 100%;
  height: auto;
}

.tabs.tabs-secondary.modals a.tab-item {
  font-size: 1em;
}

.sectionTitle {
  text-align: center;
  font-size: 1.5em;
  padding: 10px;
}
